[2019-02-21 00:53] bobcatfish opened #171 "Create a `Task` that can create a Tekton Pipelines cluster to test against"
## Expected Behavior
We should be testing and releasing Pipelines with Pipelines.

We should have a `Task` (and related Resources) defined that we can use to:
- Create a cluster to test against (currently done using boskos and triggered by [e2e-tests.sh](https://github.com/knative/build-pipeline/blob/master/test/e2e-tests.sh))
- Deploy Pipelines to the cluster

### The Task

* Inputs:
  - git repo

[2019-04-23 18:27] bobcatfish opened #1 "Setup auto config application for Prow"
# Expected Behavior
When we make changes to [our prow config](https://github.com/tektoncd/plumbing/blob/master/prow/config.yaml):

1. The pull request that proposes the changes should verify them as much as possible
2. Once they are merged, they should be automatically applied to our prow cluster

# Actual Behavior

1. We have nothing verifying our config.yaml changes
2. Once the changes are made,

[2019-04-23 22:48] bobcatfish opened #3 "Add automation for all tektoncd repos"
# Expected Behavior

All of the repos in tektoncd should have a minimum of prow automation applied.

We should have tide automation for:
* [x] plumbing
* [x] dashboard
* [x] cli
* [x] experimental (OWNERS files in each subdir)
* [x] website
* [x] catalog

We should add unit test support for:
* [x] dashboard (https://github.com/tektoncd/dashboard/pull/72)
* [x] experimental (in each subdir?) : http

[2019-04-23 23:06] bobcatfish commented on #3
I also had to add branch protection rules to all the repos to make sure the tide check was required. Will need to back and add a requirement about the `tide` clause to repos that didn't have any open PRs:

- experimental
- website
- cli

[2019-04-24 09:06] vdemeester commented on #3
/assign

[2019-04-24 15:47] vdemeester commented on #3
@bobcatfish updated the requirements for `tide` (`dashboard`, `cli` and `experimental`) and builds checks for `dashboard` and `cli`. (`website` needs at least a PR before we can see the check :sweat_smile: )

For `experimental`, I was wondering how should be do that :thinking: each time a folder is created, we create a configuration here ? :thinking:

[2019-04-24 15:53] vdemeester commented on #3
Also, the merging options are all the same (as `tektoncd/pipeline`).

![2019-04-24-175300](https://user-images.githubusercontent.com/6508/56674223-eba5b800-66b9-11e9-92b6-2038b9b86d7b.png)

[2019-04-24 19:12] bobcatfish commented on #3
A couple ideas:
- Have a top level script that looks for scripts in all subdirs
- Have a different prowjob for each folder (probably a bad idea)

Another issue is that when code in a dir changes, we probably want to _only_ run the tests for that dir - but we can always deal with this iteratively XD

[2019-04-29 06:55] vdemeester commented on #1
/assign

[2019-05-27 14:23] vdemeester opened #25 "Automate config.yaml prow configuration"
The [`prow/config.yaml`](./prow/config.yaml) is getting bigger and bigger — but lot's of configuration share the same content. We may want to have a smaller configuration file that we use to generate the *final* `config.yaml`.

Inspiration comes from [`knative/test-infra`](https://github.com/knative/test-infra/blob/master/ci/prow/make_config.go)

/kind question

[2019-05-27 14:36] vdemeester opened #26 "Automate and share labels accross repositories"
So, to integrate better with `tide` and, for example, letting users/contriubtors add some labels to their issues, we need some specific labels (e.g. `question` -> `kind/question`, …) — I am refering to [`tide` commands](https://prow.tekton.dev/command-help).

- We could use https://github.com/kubernetes/test-infra/tree/master/label_sync (with our own configuration and colors :catdance: ) or https:

[2019-05-28 15:13] dlorenc opened #28 "Figure out why compute networks are leaking"
We keep leaking test projects because of errors cleaning up compute networks in GCP. I've seen this a few times:

[code]

I fix this by manually going into the projects and deleting the `tdashboard-e2e-*` networks.

[2019-05-28 16:27] bobcatfish commented on #26
Seems like a good idea to me!

[2019-05-28 16:48] bobcatfish opened #29 "Add more boskos projects"
# Expected Behavior

We should have enough boskos clusters available that tests are able to run across all our projects.

# Actual Behavior

Sometimes projects fail with:

[code]

Which we think is caused when too many tests are running at the same time

(e.g. https://github.com/tektoncd/pipeline/pull/909)

# Additional Info

https://github.com/tektoncd/plumbing#boskos

[2019-05-28 21:43] bobcatfish commented on #25
I'm tempted to suggest we wait until we have converted more of our jobs to Tekton jobs (https://github.com/tektoncd/pipeline/issues/922) what do you think @vdemeester ?

[2019-05-29 07:20] vdemeester commented on #25
I think yes :angel: let's focus on dogfooding :dancer:

[2019-06-11 17:56] #26 closed

[2019-06-11 23:50] bobcatfish opened #34 "Stop using Boskos"
# Expected Behavior

We should create and manage as few GCP projects as possible since it is hard to do things easily across projects such as [creating roles and permission/access](https://github.com/tektoncd/community/blob/master/governance.md#permissions-and-access) across projects (e.g. I can't make one role and use it in 14 different projects).

We should look into making it so that we can use

[2019-06-12 16:55] vdemeester commented on #3
Once https://github.com/tektoncd/plumbing/pull/37 is in, I think we can close this one :angel: :tada:
Automation of `tektoncd/plumbing` itself is tracked by https://github.com/tektoncd/plumbing/issues/1

[2019-06-12 17:02] #29 closed

[2019-06-13 17:30] vdemeester commented on #3
#37 is merged :dancer:
/close

[2019-06-13 17:31] #3 closed

[2019-06-13 18:09] bobcatfish commented on #3
Thanks @vdemeester !!!! :heart: :heart: :heart:

[2019-06-17 16:27] bobcatfish commented on #29
I missed a step! Added by @dlorenc to our docs in https://github.com/tektoncd/plumbing/pull/38

[2019-06-27 12:54] chmouel opened #43 "Find a home for `taps` formulas"
For the [CLI](https://github.com/tektoncd/cli) we want to have a homebrew `tap` repository to install easily on OSX.

We have currently one on my own github user at :

https://github.com/chmouel/homebrew-tektoncd-cli/

which is generated at release time with goreleaser :

https://github.com/tektoncd/cli/blob/master/.goreleaser.yml#L48-L64

It would be better we have this to something more official

[2019-06-27 13:00] vdemeester commented on #43
/cc @dlorenc @bobcatfish

[2019-06-27 13:07] siamaksade commented on #43
Third options is to move it to https://github.com/Homebrew/homebrew-cask

[2019-06-27 13:54] chmouel commented on #43
@siamaksade i don't believe that would be a great fit, I think `cask`'s are for binary OSX gui applications, i.e:

![image](https://user-images.githubusercontent.com/98980/60272095-d0db0400-98f3-11e9-945d-4f28c2208309.png)

[2019-06-28 08:26] mnuttall opened #44 "Broken pipe in report_go_test kills go tests early"
# Expected Behavior

`report_go_test()` reliably runs go tests and reports the results

# Actual Behavior

Go tests randomly terminate with output of the form,

[code]
"Finished run, return code is 1" appears right in the middle of simple output statements. We have also seen,

[code]

Our belief is that the `${go_test} | tee ${report}` statement in `report_go_test` results in a periodically broken

[2019-07-08 08:13] siamaksade commented on #43
Minikube and minishift are also in Homebrew Cask

[2019-07-08 08:23] chmouel commented on #43
that's interesting thanks @siamaksade (altho i don't understand that decision to allow everything in `homebrew/cask` but that's probably a question for another repo), if we move to that repo we will loose `goreleaser` homebrew auto release and have to update manually, wdyt @vdemeester ?

[2019-07-08 17:20] StevenACoffman commented on #43
Could you use goreleaser with tektoncd/homebrew-tools and then
on a commit there webhook would automate using a personal access token to make a pull request  to https://github.com/Homebrew/homebrew-core/
If only those manual steps could be hooked into some sort of _pipeline_😀

[2019-07-08 17:24] chmouel commented on #43
I don't believe the formula generated by `goreleaser` is good enough for homebrew-core or at least according to the documentation :

https://goreleaser.com/homebrew/

![image](https://user-images.githubusercontent.com/98980/60829786-087c6280-a1b6-11e9-8cf9-678698255938.png)

[2019-07-08 18:24] StevenACoffman commented on #43
Yeah, whatever is required for homebrew-core formulas (must build from source?), it's still driven off of a git sha and a release version tag, and at the time of a release, no other changes to the file really need to be done.

For instance: [homebrew-core formula for goreleaser](https://github.com/Homebrew/homebrew-core/blob/master/Formula/goreleaser.rb)

To update a homebrew-core formula for a ne

[2019-08-05 17:43] bobcatfish commented on #1
We might be able to use https://github.com/kubernetes/test-infra/tree/master/prow/plugins/updateconfig

[2019-08-05 18:06] bobcatfish opened #54 "Try enabling statusreconciler"
# Expected Behavior

Our prow deployment should use all useful and available Prow tools.

# Actual Behavior

Since we installed Prow, a new component called `statusreconciler` was added (https://github.com/kubernetes/test-infra/pull/12258) - it looks like this has something to do with preventing PRs from becoming stuck? Would be good to understand what this actually does before turning it on.

# A

[2019-08-05 18:46] bobcatfish commented on #54
As PRs such as https://github.com/tektoncd/pipeline/pull/1161 hang with no status reported, I become increasingly concerned that this component is essential 😅

![image](https://user-images.githubusercontent.com/432502/62487450-def03000-b78f-11e9-82e8-8c4785b9f03f.png)

[2019-08-05 19:11] bobcatfish commented on #54
Nope, that was a totally different problem. Phew.

[2019-08-05 19:14] bobcatfish commented on #54
From @cjwagner it sounds like this tool is for retrying statuses when a job (prow job?) config changes.

[2019-08-05 19:57] cjwagner commented on #54
Yes, there are some docs with more detail here: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/status-reconciler#status-reconciler

[2019-08-07 08:40] vdemeester opened #57 "tekton-releases bucket organization"
Currently, we are using `tekton-releases` bucket to store releases yamls for `tektoncd/pipeline`. We may want to use it for other tektoncd projects, like `dashboard` (that also has a yaml or two for releases). My question is:

- Should we create another bucket for those, like `dashboard-releases` ?
- Should we have some sort of folder layout for the future ?

[code]

/cc @bobcatfish

[2019-08-07 16:53] vdemeester opened #58 "Automated release for tektoncd projects"
It should be possible for any projects in the tektoncd umbrella to do release without having to access the prow “production” cluster. Owner from a project should be able to create a release branch, maybe configure prow to build that release (ideally it would be automated) and it should just works.

As of today, tektoncd/pipeline and tektoncd/cli releases are done manually, accessing the prow “prod

[2019-08-12 21:18] a-roberts opened #62 "Add image vulnerability scanning for releases/nightly builds"
Container scans can be performed on Dockerhub for pushed images, we could push the images there too so we can access/republish new images based on any problems found or we can look into whether we get regular scans performed on gcr.io images.

At the very least it'd be great to do this before publishing release images and I think this is a useful step to take with a view to getting Tekton really r

[2019-08-16 15:36] bobcatfish opened #64 "Linting should catch exported values without docstrings"
# Expected Behavior

If someone opens a PR with exported values that don't have docstrings, linting should prompt them to add a docstring.

# Actual Behavior

Nothing happens! e.g. in https://github.com/tektoncd/triggers/pull/63

# Steps to Reproduce the Problem

1. Add a new type to a `_types.go` in the triggers repo or pipeline repo, e.g.

[code]
2. Open a PR
3. Note that the linting doesnt say

[2019-08-19 08:27] vdemeester commented on #64
@bobcatfish yeah, we should add this to the linter in the golangci configuration file. Right now, each repository has its own (see `tektoncd/cli` or `tektoncd/triggers`), we could have a default one, shared by all maybe ?

[2019-09-10 07:07] chmouel commented on #43
I have tried to submit it to homebrew-core :

https://github.com/Homebrew/homebrew-core/pull/43360

but I haven't seen that much action since 20 days ago,

I would be worry that every update would take quite some time,

I think it would be best if we have a homebrew-tektoncd in the tektoncd github organisation so we can control it .

wdyt @bobcatfish @vdemeester @StevenACoffman @siamaksade

(and t

[2019-09-10 07:10] siamaksade commented on #43
+1

On Tue, 10 Sep 2019 at 09:07, Chmouel Boudjnah <notifications@github.com>
wrote:

[2019-09-13 23:47] bobcatfish opened #71 "Update version of `go` in base image"
# Expected Behavior

Our unit tests as run by Prow (which is configured to use `gcr.io/tekton-releases/tests/test-runner@sha256:a4a64b2b70f85a618bbbcc6c0b713b313b2e410504dee24c9f90ec6fe3ebf63f `) should catch race conditions such as https://github.com/tektoncd/pipeline/issues/1124.

# Actual Behavior

The unit tests are run with `-race` (you can find the code for this somewhere in `library.sh` in

[2019-09-30 10:24] afrittoli commented on #57
I would go for one bucket / multiple folders.
We should move pipeline artifacts into their own dedicated folder, and hopefully eventually we can move the release tasks / pipelines to the plumbing repo for all projects to use.

[2019-09-30 10:28] afrittoli opened #75 "Create a pipeline to validate a released version of a Tekton project"
We need a way to validate releases for various Tekton projects, and we should use a Tekton pipeline for that. Eventually we should be able to automatically trigger the pipeline as a post release job.

The aim is not to validate that the code that we just released works fine, since that is tested before the release as part of our CI, but rather to verify that the release artifacts were correctly ge

[2019-09-30 10:28] afrittoli commented on #75
/assign

[2019-09-30 10:35] afrittoli commented on #75
/area test-infra
/area release

[2019-10-03 08:46] chmouel commented on #43
/close

https://github.com/tektoncd/homebrew-tools is live

[2019-10-03 08:46] #43 closed

[2019-10-08 07:06] chmouel opened #79 "TektonCD catalog tests e2e on pipeline PR"
As we have seen from the $() to ${} syntax move, API changes is happenning and breaks user templates.

It would be nice to have a job on pipeline PR to identify them that checkout latest catalog and try to apply them with the PR's pipeline install.

I think we should make it as a passive job, since updating both repositories at the same time can get us to the chicken and egg problem,

(there proba

[2019-10-14 13:01] #57 closed

[2019-10-18 13:11] sbwsg opened #86 "PipelineRun log app should be deployable with ko"
# Expected Behavior

The PipelineRun log app in plumbing can be deployed to a cluster with [ko](https://github.com/google/ko) to make testing easier.

# Actual Behavior

The log app is only deployable manually with the deployment yaml in the repo at the moment, not with ko.

[2019-10-18 13:14] sbwsg opened #87 "Automate build/test of PipelineRun log app in Plumbing CI"
# Expected Behavior

The pipelinerun log app should be built and tested on every PR to the plumbing repo (ideally only if its files have been changed).

# Actual Behavior

The log app does not have automated build or test.

[2019-10-22 10:48] #71 closed

[2019-10-23 09:22] vdemeester commented on #86
Fixed by #89
/close

[2019-10-23 09:23] #86 closed

[2019-10-24 12:30] afrittoli opened #95 "Deploy Tekton resources daily from plumbing"
Setup a task that deploys all Tekton resources defined in under `plumbing/tekton` to the `dogfooding` cluster. We should run this on a daily basis for now, using CronJob + Triggers + TaskRun.

Eventually we should think of a way to deploy resources from other tekton repos too, but we might want to do that in a namespaced way.

[2019-10-24 14:06] afrittoli commented on #1
/assign

[2019-10-24 14:20] afrittoli commented on #1
Plan:
- define a service account `config-prow`
- define a secret in the `dogfooding` cluster that holds `config-prow`'s token
- define an event-listener / template / binding in the `dogfooding` cluster that uses `config-prow` credentials to update the config in the `prow` cluster

We can then use a k8s CronJob to trigger the event listener, and run the job e.g. hourly.
Once we have the event liste

[2019-10-24 17:24] afrittoli commented on #1
Something along this lines: https://github.com/tektoncd/plumbing/pull/98

[2019-10-31 13:23] vdemeester opened #102 "Tektoncd project convention for pipeline-as-code"
This has been discussed a tiny bit during [last working group](https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit#heading=h.4mbsfb4pxpoh).

As of today, each project that uses Tekton to do some work (release most likely), is using a `tekton` folder. Now that we are getting more into *dogfooding* and that we are able to start experimenting with *pipeline-as-code* (

[2019-10-31 13:26] vdemeester opened #103 "Towards tektoncd project with no dependencies to plumbing"
Related to https://github.com/tektoncd/triggers/pull/180#discussion_r340521331 — use go modules for `tektoncd/triggers`. This issue aims to discuss and track a way to make so that `tektoncd` projects do not need explicit dependency to `tektoncd/plumbing`.

Today, most of the projects (`tektoncd/pipeline`, `tektoncd/cli`, …) use a *small hack* with `dep` or `go mod` to get a specific version of `pl

[2019-10-31 14:14] chmouel commented on #103
I would worry about `git submodules` I can't point exactly why but I have the feeling we will be exchanging a set of issues with another..

I think 2. is a reasonable mid-term fix to our issue, that's not too hard to implement.

3. is a rather attractive long term solution but I guess we will need to speak about it more before getting there.

Just to mention it, while I was  working on OpenStack,

[2019-11-01 06:54] afrittoli commented on #103
I think (3) is the way to go, I don't see the need for intermediate steps.

We need some design about how we are going to share plumbing tasks (and Tekton resources in general) to the other projects.

We also need to decide / design whether the entry point of CI jobs will stay in plumbing or if it will in each repo or both.

It would be nice if the model we adopt for plumbing embodied the recommen

[2019-11-04 14:07] dlorenc opened #109 "Setup peribolos for tektoncd org management"
Currently adding users to the tektoncd org is manual. We should automate this using something like peribolos: https://github.com/kubernetes/test-infra/tree/master/prow/cmd/peribolos

Plan:

- Add a peribolos config to the tektoncd/community github repo
- Add documentation for users on how to add themselves
- Run this manually for now
- Wrap peribolos in a tekton Task
- Automate the peribolos synci

[2019-11-04 14:28] bobcatfish commented on #109
Duplicate of https://github.com/tektoncd/community/issues/30. Closing, unless we think plumbing is a better place for this issue?

[2019-11-04 14:28] #109 closed

[2019-11-04 14:33] dlorenc commented on #109
Ah, good point. I think we need some code in both places, but I'll track it there.

[2019-11-11 14:59] vtereso commented on #102
@bobcatfish Good points. With consideration for a DSL, this could be one determining factor to decide between one file vs a folder, but otherwise could probably be pushed out.

Other questions about the convention: Is it correct to assume convention means nothing is _internal_ hard coded, but rather tooling/platforms like JenkinsX will build on this standard? Like Christie mentioned, is this conve

[2019-11-13 13:38] vdemeester commented on #102
+:100:

@bobcatfish agreed !

@vtereso depends on what you mean by *internal* hard coded, but yeah, there shouldn't be anything in the core projects (pipeline, triggers, …) that are hard coded for our use. And yeah, the "hope" is that tooling/platforms build on those standards, although it's not a goal per-se (everybody is free :angel: and JenkinsX is already existing and kinda mature, so in this

[2019-11-27 11:52] afrittoli opened #122 "Maintain tekton services configuration overlays in git"
We need a way to maintain the custom configurations we need for Tekton services in the dogfooding cluster as overlays in git.

It should be possible to apply them on top of release files (e.g. full release or nightly) and ideally also to combine them with a ko based deploy (which could simply be a ko resolve + same solution as for releases).

This will allow us to store custom configurations in gi

[2019-11-27 12:25] vdemeester commented on #122
/kind feature

[2019-11-27 12:42] afrittoli opened #124 "Make the Mario bot production ready"
The current Mario bot demo works, but we need to properly automate deployment and maintenance. Things that we need to do:
- obtain and automate setup of DNS name + TLS for mario-bot webhook(s)
- setup an ingress linked to that name and to mario event listener service
- automate the creation of the github secret and the deployment of the webhook
- setup a github account for mario-bot
- cd mario-bot

[2019-11-27 12:43] vdemeester commented on #124
/kind feature
/area test-infra

[2019-11-27 14:28] vdemeester opened #125 "Install golangci-lint from a release instead of master"
When building the test-runner image, we are installing `golangci-lint` from master (using `RUN go get -u github.com/golangci/golangci-lint/cmd/golangci-lint`).

We should install it from a release version instead to make sure its behavior doesn't change implicitly when bumping the test-runner image.

/cc @chmouel

Ref: tektoncd/pipeline#1634

/area test-infra

[2019-11-27 14:30] chmouel commented on #125
FYI the authors does not  advise to use the `go get` version https://github.com/golangci/golangci-lint#go-get  (but we can maybe get away with that)

I think we need a stable tag and not just a specific version that we need to (forget) update manually everytime,

[2019-11-27 19:31] wlynch commented on #125
triggers needs Go 1.13, so we'll need to pin golangci-lint to >= v1.19.0

[2019-11-27 19:37] wlynch opened #127 "Process: Update test-runner image"
I recently updated knative/test-infra to update githubhelp to reduce the number of API calls it makes for listing changed files - https://github.com/knative/test-infra/pull/1555. I'd like to update the prow image so prow can actually run tests for https://github.com/tektoncd/pipeline/pull/1607.

test-runner uses the latest clone (perhaps we should also pin this similar to #125?), so all we need to

[2019-11-27 19:43] wlynch opened #128 "Support Go >= 1.13 for ko-ci"
# Expected Behavior

gcr.io/tekton-releases/ko-ci should be able to build tektoncd/triggers.

# Actual Behavior

[code]

Looks like ko-ci is using an older go version, and triggers needs >= 1.13. gcr.io/tekton-nightly/ko-ci works, so all we need to do is promote this to tekton-releases.

[2019-11-27 20:07] wlynch commented on #127
From slack:

[code]

[2019-11-27 20:07] #127 closed

[2019-11-27 22:34] chmouel commented on #125
/assign

[2019-11-28 08:53] vdemeester commented on #128
/kind bug

[2019-11-29 09:24] #125 closed

[2019-12-02 21:05] afrittoli opened #137 "Automate obtaining a test cluster"
# Expected Behavior
We need a Tekton based way to obtain a test cluster for testing, e.g. when doing a release we need a test cluster to test the release against.

# Actual Behavior
At the moment we can either use a pre-provisioned cluster or use test-infra tools to claim a cluster from Boskos, but that's not very "Tektonik".
I was thinking we could have one (or both):
- an interceptor that can al

[2019-12-03 10:52] afrittoli opened #138 "Udated prow to the latest version"
# Motivation
The latest version of Prow supports a more recent version of Tekton, so we should update both Prow and Tekton in the `prow` cluster and benefit from that.
It would be nice to get rid of pipelines with `${}` and other legacy syntax for good.

# Task details
Since `prow` runs our CI system, we need to make sure the update is as swift as possible. It would be nice to have a rollback plan

[2019-12-03 13:17] vdemeester commented on #138
/area test-infra
/cc @bobcatfish

[2019-12-03 15:18] bobcatfish commented on #138
It's a pretty rough read but I tried to write down what I did last time at https://github.com/tektoncd/plumbing/blob/master/prow/README.md#updating-prow-itself

[2019-12-04 15:33] vdemeester commented on #25
Let's close this one for now then :angel:

/close

[2019-12-04 15:33] #25 closed

[2019-12-04 15:37] vdemeester commented on #95
/kind feature

[2019-12-04 15:37] vdemeester commented on #87
/kind feature
/area testing

[2019-12-04 15:49] vdemeester commented on #62
/kind feature

[2019-12-05 17:00] vdemeester commented on #128
With #143 we now have go 1.13 with the `ko` image :angel:
/close

[2019-12-10 20:47] bobcatfish opened #150 "Prow cert is expired?"
# Expected Behavior

https should work for prow.tekton.dev

# Actual Behavior

As pointed out by @chmouel when you visit prow.tekton.dev (e.g. https://prow.tekton.dev/log?job=pull-tekton-pipeline-unit-tests&id=1204443482555420674 to look at the raw build log for https://github.com/tektoncd/pipeline/pull/1702) you see an error like this:

![image](https://user-images.githubusercontent.com/432502/70

[2019-12-12 20:38] dibyom opened #157 "Markdown Link check is failing for valid URLs"
# Expected Behavior
Markdown link check is should pass!

# Actual Behavior
Markdown link check is failing for valid URLs e.g. https://github.com/tektoncd/triggers/pull/273
I can reproduce this locally from the Triggers repo.

# Steps to Reproduce the Problem

`liche -d $(pwd) -v $(find docs/ -name *.md)`

# Additional Info
Failing URLs:

## https://github.com/tektoncd/triggers/pull/275
[code]

##

[2019-12-12 22:20] bobcatfish commented on #157
Is it possible the URLs are sometimes down? Maybe we can make a list of the URLs we are seeing fail.

Ideas:
* could make the markdown lint checker more tolerant (e.g. retry)
* make the markdown lint check not required

[2019-12-12 23:44] dibyom commented on #157
Maybe related: https://github.com/raviqqe/liche/pull/24

[2019-12-13 00:20] dibyom commented on #157
Problem might be in fasthttp v.1.5

https://gist.github.com/dibyom/e546f71828d2d0886fc9c14b639f535d

[2019-12-13 08:22] vdemeester commented on #157
Honestly, I would like to limit the check to internal files as it's way more useful than old files :angel:

[2019-12-13 09:59] vdemeester commented on #150
/kind bug

This is fixed now, see #152
/close

[2019-12-13 09:59] #150 closed

[2019-12-13 10:08] vdemeester opened #158 "Setup periodics job for tektoncd projects (using dogfooding)"
All periodics job for any project (`pipeline`, `cli`, …) should use tekton to be be run, thus running on `dogfooding` cluster as a start.

- This depends on #137 (for e2e tests)
- This would use kubernetes cronjobs and `tektoncd/triggers`
- The definition of those pipeline could temporarly start in `plumbing` but we need to aim towards having those definition and configuration in each project, thi

[2019-12-13 10:17] vdemeester opened #159 "Migrate tektoncd project to Tekton (instead of prow)"
This is kind of an Epic issue for moving towards having Tekton building Tekton.
The ultimate goal is to have all CI/CD (aka PR builds, periodics builds, release builds, commands handling, …) of the `tektoncd` projects handled by `tektoncd` projects (aka `tektoncd/pipeline`, `tektoncd/triggers`, …).

[2019-12-13 21:23] dibyom commented on #157
Yeah, I don't think checking links only for changed markdown files on PRs is super useful -- if a markdown file is not touched for months, and in that time any of the links go stale, we would not catch it unless someone modifies the file.
Running this tool locally though, I did discover quite a few URLs that currently 404 or end with a `.` making them invalid.

[2019-12-17 16:57] dibyom opened #165 "Make Coverage report consistent"
# Expected Behavior

Coverage job should consistently produce a report for all PRs.

# Actual Behavior

When it works, it works. But sometimes, the job passes but it does not actually produce a report that we can view e.g. https://github.com/tektoncd/pipeline/pull/1757

# Steps to Reproduce the Problem

This seems to be happening intermittently

# Additional Info

- Coverage job might be using a d

[2019-12-20 18:11] vdemeester commented on #171
/kind enhancement
/area test-infra

[2019-12-20 23:45] afrittoli commented on #171
I wonder if we could do this in go (instead of Task) and wrap it in an interceptor, so that the body of the trigger request is enriched with the data to setup the cluster resource in the trigger template. Just an idea

[2020-01-09 10:39] chmouel opened #176 "Flakyness reports and retryer"
Prow has some nice tools to reports Flakyness :

https://github.com/knative/test-infra/tree/master/tools/flaky-test-reporter

and even automatically retry :

https://github.com/knative/test-infra/tree/master/tools/flaky-test-retryer

It would be a good idea to try installing both, at least at first running the reporter for a bit so we can have some visibilities and see if we can enable retryer on

[2020-01-09 11:20] vdemeester commented on #176
/area test-infra
/kind feature

[2020-01-09 20:33] bobcatfish opened #178 "Jan 8 Nightly Pipeline Release failed"
The jan 8 nightly release of Tekton Pipelines failed, so the most recent release is Jan 7. I found the pod that failed with:

[code]

The `tag-images` step failed and the logs ended with:

[code]

So actually most of the process completed, but partway through tagging the images, gcloud crashed, I guess after receiving a 504?

I think this is probably  just a flake (we'll see tomorrow) but if we se

[2020-01-09 20:34] bobcatfish commented on #178
Just recording this in case it happens again.

[2020-01-09 20:34] #178 closed

[2020-01-14 14:22] wlynch opened #179 "Standardize yaml/markdown formatters / linters"
We should have standardized yaml and markdown linters. In a few issues, there's been problems with different forms of linters conflicting with each other causing issues (e.g. https://github.com/tektoncd/triggers/pull/323 uses prettier, which seems to conflict with what yamllint wants).

Leading candidate is [prettier](https://prettier.io/) due to its popularity (35k+ stars on GitHub), support for

[2020-01-14 14:29] wlynch opened #180 "Create pre-commit hook configuration for running presubmits"
# Expected Behavior
I should be able to catch common presubmit issues prior to creating a PR.

# Actual Behavior
I forget to run `golang-ci` and doc linters/formaters, push my code anyway, get a notification ~5 mins later that I don't actually read until ~30 mins later that I need to format a file.

# Additional Info

We should set up recommended pre-commit/push hooks to automatically run common t

[2020-01-15 10:09] vdemeester commented on #180
/kind feature
/area config

[2020-01-15 10:10] vdemeester commented on #179
/kind documentation
/kind feature
/area config

[2020-01-15 13:31] afrittoli opened #181 "Build log is missing in the pipeline nightly release bucket"
# Expected Behavior
The pipeline log should be stored along to the release.yaml in the bucket

# Actual Behavior
It is not (anymore) https://console.cloud.google.com/storage/browser/tekton-releases-nightly/pipeline/latest?project=tekton-nightly

[2020-01-15 14:10] afrittoli opened #182 "Setup controlled access to Tekton Dashboard for the dogfooding cluster"
# Expected Behavior
Project maintainers should be able to use the Tekton Dashboard for the dogfooding cluster, with no need to have direct access to the k8s cluster itself.

# Actual Behavior
The only way to access the cluster today is via port-forwarding.

# Additional Info

1. We'll need a dedicated subdomain of tekton.dev
2. We need an auth system, it could be a web-server with HTTP basic auth

[2020-01-15 14:56] vdemeester commented on #182
/kind feature
/area dogfooding

[2020-01-15 15:06] vdemeester commented on #181
/kind bug
/area dogfooding

[2020-01-15 17:37] dibyom commented on #179
I like `prettier` since it actually formats the code for me!

That being said the issue with tektoncd/triggers#323 is not with `yamllint` -- we have a homegrown [checker](https://github.com/tektoncd/triggers/blob/master/hack/update-docs.sh) that looks for comments like `` in markdown files and checks that the codeblock following the comment has the same content as the file referenced in the commen

[2020-01-17 12:40] afrittoli opened #183 "Upgrade triggers to release v0.2.0"
This issue is meant to track the work on migrating to triggers to v0.2.0 in the dogfooding cluster.
https://github.com/tektoncd/triggers/releases/tag/v0.2.0

1. Upgrade the running service
    * it could just be a kubectl apply <release-file>, since we don't have any special configuration in place
    * it would be good to try and use the "deploy tekton service" pipeline instead, and make sure we

[2020-01-17 13:40] vdemeester commented on #183
/area dogfooding
/area test-infra

[2020-01-17 21:36] bobcatfish commented on #29
Looks like it strikes again: https://github.com/tektoncd/pipeline/pull/1888#issuecomment-575802608

[2020-01-17 21:43] bobcatfish commented on #29
It's the same error but when I look at some of the (many) boskos projects we have, they are definitely not all in use. For example:

* https://pantheon.corp.google.com/home/activity?project=tekton-prow-9 <-- has activity from ~2 hours ago
* https://pantheon.corp.google.com/home/activity?project=tekton-prow-10 <-- hasnt had an activity since the 14th

So whatever is going wrong seems like something

[2020-01-17 21:58] bobcatfish commented on #29
oh wait a second, maybe that's PST :thinking:

[2020-01-17 22:06] bobcatfish commented on #29
okay so discovered a couple things: boskos thinks all the projects are "dirty" and this is in the logs for the "boskos janitor":

[code]

[2020-01-17 22:17] bobcatfish commented on #29
* https://github.com/kubernetes/test-infra/issues/15866 is related (detecting when janitor fails repeatedly)
* https://github.com/kubernetes/test-infra/issues/14611 hints that this might be a quota problem - we're definitely near our cpu limit so ive requested that increased

it's also possible that this is because we're using such an old version of boskos and it might need an update

[2020-01-18 02:57] bobcatfish opened #186 "Boskos seems to be wedged"
# Expected Behavior

Boskos should clean up projects once they are done being use and make them available for future use.

# Actual Behavior

https://github.com/tektoncd/pipeline/pull/1541 and https://github.com/tektoncd/pipeline/pull/1888 both have consistently failing integration tests with an error like:

[code]

In #29 and other times in the past we have responded to this error by provisioning

[2020-01-18 03:21] bobcatfish commented on #186
Can see these failures happening consistently across PRs:

* triggers: https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/directory/pull-tekton-triggers-integration-tests
* pipeline: https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/directory/pull-tekton-pipeline-integration-tests
* cli: https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/directory/pull-tekton-c

[2020-01-18 03:24] bobcatfish commented on #186
I tried some things but nothing has worked:

* I deleted all the boskos + boskos janitor pods so they had to be re-created (didnt try the reaper tho)
* Tried manually adding a additional project in case that helped https://github.com/tektoncd/plumbing/pull/187 but no dice

[2020-01-18 03:26] bobcatfish commented on #186
I think the next thing to try is to update the boskos images to something newer: maybe the reason that outage + this started at the same time was that there was a rollout of something that is no longer compatible with our ancient boskos images (and their gcloud install?)

[2020-01-18 07:23] afrittoli commented on #186
Thank you for the detailed analysis!
I might be able to try and update boskos in the Prow cluster later today, unless someone else can do that befor.

[2020-01-18 11:02] afrittoli commented on #186
The issue seems to be still there, since I can see still a lot of failures in https://tekton-releases.appspot.com/builds/tekton-prow/pr-logs/directory/pull-tekton-pipeline-integration-tests.
I tried a `\retest` on one PR, and it was able to get a cluster from Boskos though.
Checking boskos logs, this shows up continuously:
[code]

The busy project is the one used for my retest, but there are three

[2020-01-20 10:16] vdemeester commented on #186
/area boskos
/kind bug
/area test-infra

[2020-01-20 11:08] afrittoli commented on #186
I tried updating boskos to the latest image available [v20190621-ff01381](gcr.io/k8s-testimages/boskos@sha256:9abcb3ce0bea340a3aa1b0677ae003b27291a561140bc2f1a3451b2b7d1351be), but the error in the janitor logs persists:

[code]

[2020-01-20 11:15] afrittoli commented on #186
Looking at `tekton-prow-10` via the console, there is no k8s cluster in the project, but there are two PVC backing disks left around:

<img width="825" alt="image" src="https://user-images.githubusercontent.com/2205608/72722320-f2dcf200-3b75-11ea-8b38-3ce3aed6131a.png">

I don't have permissions to delete them manually - doing so might unblock the project until we sort out the issue on boskos side

[2020-01-20 14:16] afrittoli commented on #183
(3) is not possible yet since the github interceptor is broken and will be fixed in v0.2.1.

[2020-01-20 14:19] afrittoli commented on #183
/mario build tekton/images/tkn tkn:mario

[2020-01-20 14:23] afrittoli commented on #183
/mario build tekton/images/tkn tkn:mario

[2020-01-20 15:04] afrittoli commented on #183
/mario build tekton/images/tkn tkn:mario

[2020-01-20 15:07] afrittoli commented on #183
/mario build tekton/images/tkn tkn:mario

[2020-01-20 16:59] afrittoli commented on #183
Tested prow config deployment - working fine.
Tested image build (on demand), working fine.
Mario and pipeline nightly release have issues with service accounts not being able to access the configmaps API.

[2020-01-20 18:02] #183 closed

[2020-01-21 10:52] afrittoli commented on #181
After the upgrade to trigger v0.2.0, JSONPath replaced gjson in trigger bindings.
The new jsonpath expression seems to cause issues:
[code]

[2020-01-21 15:14] bobcatfish commented on #186
I've deleted the disks from projects 10 and 0!

[2020-01-21 19:24] bobcatfish commented on #186
Looks like lots of folks using boskos ran into problems on Friday: https://github.com/kubernetes/test-infra/pull/15951

[2020-01-21 23:02] bobcatfish opened #193 "Replace Boskos StatefulSet with Deployment"
# Expected Behavior

If you make changes to the boskos configuration and apply it, you should be able to see the changes in the resulting pod.

# Actual Behavior

The boskos StatefulSet has update strategy "ondelete" so you have to delete the pod before it'll get the update.

# Steps to Reproduce the Problem

1. Change the image in boskos/boskos.yaml
2. Apply the config
3. Watch nothing happen

#

[2020-01-21 23:08] bobcatfish commented on #186
Okay so I looked into it a bit more. When I looked today after deleting the disks that @afrittoli noticed were not deleted (TODO for myself: give everyone more permissions!! or we can move to a model where maybe the CDF owns these clusters and everyone can be a full admin!!! ANYWAY) and all of the clusters were "free".

I (finally) noticed that the Prow folks ran into these same errors on Friday r

[2020-01-21 23:08] #186 closed

[2020-01-22 09:55] vdemeester commented on #193
/kind feature
/area test-infra

[2020-01-23 10:52] afrittoli opened #196 "Configure the github release task to use a functional user"
# Expected Behavior
When drafting a GitHub release using the `create-draft-release` task, the release should be created with the token of a functional user.

# Actual Behavior
It is created using @afrittoli token.

[2020-01-23 13:04] vdemeester commented on #196
We should have a tekton-robot account for those, with a robot-cat avatar :stuck_out_tongue_closed_eyes:

/kind feature
/area test-infra
/area dogfooding

[2020-01-27 12:01] #1 closed

[2020-01-29 22:23] dibyom commented on #128
I think we should re-open this...the image on tekton-releases in still on go version 1.12...unless we use the nightly image for all releases?\

[2020-01-30 07:33] vdemeester commented on #128
@dibyom I think we need to clean some images :sweat_smile:
We are using `gcr.io/tekton-releases/dogfooding/ko:gcloud-latest` now (on pipeline, maybe elsewhere) instead of the images tekton-releases. We may want to remove it.

[2020-01-30 07:33] vdemeester commented on #128
Or tag it when we build the `dogfooding/ko` one :stuck_out_tongue:

[2020-01-30 14:03] afrittoli commented on #181
The upgrade to v0.2.1-preview fixed the issue, but now it's broken again

[2020-01-30 14:05] afrittoli commented on #122
This is now available for pipeline and triggers.
There is a pipeline to deploy the service with the overlays from a release, but there is no support for `ko` yet. A pipeline could easily implement that by using `ko resolve` to create the YAML in the base folder.

[2020-01-30 14:06] vdemeester commented on #181
Yeah :sweat:

[2020-01-30 14:08] afrittoli commented on #58
Nightly releases are available now for pipeline and dashboard.
Full releases are automated, but the preparation and trigger is still manual and require access to the cluster.

[2020-01-30 14:21] afrittoli opened #206 "Add a Tekton based check to enforce a `kind` label"
# Expected Behavior
To help release automation, it should not be possible to merge a PR if it doesn't have a "kind" label set.

# Implementation plan
Create a new trigger that listens for PR changes.
Create a task that fetches the list of labels, if zero or more then one are found the check is failed.
Update the PR from the task with check passed or failed - and instructions on how to add a label

[2020-01-30 14:27] vdemeester commented on #206
/kind feature
/area dogfooding

[2020-01-30 18:15] bobcatfish commented on #206
Failed comment could provide docs on what options can be used:

https://github.com/tektoncd/plumbing/blob/5ad2abad9a33c16496c9c2bce6a4d2a6db2d7250/label_sync/labels.yaml#L81-L122

[2020-01-30 22:57] dibyom commented on #128
interesting....in Triggers we use `gcr.io/tekton-nightly/ko-ci` which is different from `gcr.io/tekton-releases/dogfooding`

[2020-01-30 22:58] dibyom commented on #128
I'm going to tag the `gcr.io/tekton-nightly/ko-ci:latest` as `gcr.io/tekton-releases/ko-ci:latest`

[2020-01-30 23:00] dibyom commented on #128
Tagged and pushed

[2020-01-30 23:00] #128 closed

[2020-01-31 11:23] afrittoli commented on #181
The log is there in the previous folder, but not in the latest one. This will require some extra logic in the task.

[2020-01-31 14:34] afrittoli commented on #206
/mario build tekton/images/ko ko:mario

[2020-02-04 07:50] chmouel opened #210 "Tag catalog repository on pipeline release"
When we do a major pipeline release it would be useful to tag the [tektoncd/catalog](github.com/tektoncd/catalog) repository.

/cc @sthaha

/assign

[2020-02-04 10:40] afrittoli opened #211 "Pipeline nightly release sometimes fails on linting timeout"
# Expected Behavior
The pipeline works

# Actual Behavior
The linting task sometimes fails

# Steps to Reproduce the Problem

Trigger a pipelinerun - or even directly the linting task:
[code]

# Additional Info
[code]

[2020-02-04 10:46] afrittoli commented on #211
/kind bug
/area dogfooding
/area release

[2020-02-04 10:49] afrittoli commented on #210
@chmouel Do you have any proposal for the format of the tags?
Would it be something like pipeline-vX.Y.Z or triggers-vX.Y.Z?
What would the presence of the tag actually mean? As things are today I don't think we are in a position to guarantee that all resources in the catalog work on the tagged version?

[2020-02-04 11:17] vdemeester commented on #210
Related catalog issue : https://github.com/tektoncd/catalog/issues/96

[2020-02-04 11:29] chmouel commented on #210
on our downstream releases we have used a simple mechanism :

if there is a pipeline major release of 0.10.0 we tag pipeline on release-0.10 and catalog to release-0.10  (so matching it) if there is a minor release we don't tag them..

in retrospective we should probably name the tag `pipeline-0.10` for catalogs as this could be less confusing.

we don't (yet) do this on triggers, I don't know (si

[2020-02-05 20:30] dibyom commented on #211
The linting timeout has been hitting the triggers hard as well...seems especially bad for yaml/markdown lints :thinking:

[2020-02-05 20:32] dibyom commented on #179
Now that I'm 3 weeks wiser, I'd like to walk back on my `prettier` recommendation a bit: Turns out it actually deleted some codeblocks e.g. https://github.com/tektoncd/triggers/pull/323/files#diff-668b405103de84314198315ff8a750f1L96 :cry:

[2020-02-06 14:28] sbwsg opened #217 "Isolate certain Pipeline examples into their own namespace"
# Desirable Behavior

A couple of the examples we have in Pipeline need to run in their own namespace in order to test them without leaking some state into other running examples.  [Specifically the LimitRangeName examples](https://github.com/tektoncd/pipeline/pull/2004) which currently have to live under a `no-ci` directory so they don't run.  If run in the same namespace as other examples they w

[2020-02-06 14:28] sbwsg commented on #217
I'm actually not totally sure if this belongs in Plumbing or Pipelines.  Sorry if this is the wrong place :S

[2020-02-06 14:28] sbwsg commented on #217
/kind feature

[2020-02-06 16:11] #182 closed

[2020-02-07 15:38] afrittoli opened #223 "Document the setup of the "robocat" cluster"
# Expected Behavior
Everything that is installed in the "robocat" cluster needs to be documented and automated, so that it may be possible to recreate the "robocat" repo from scratch at any time.

The work lays the ground for testing CD of services and configurations, as well as for testing of infra changes. Once we have the cluster setup fully automated, we'll be able to test infra changes by all

[2020-02-07 15:38] afrittoli commented on #223
/area dogfooding
/kind documentation

[2020-02-07 15:45] afrittoli opened #224 "Schedule and document CD of pipeline, triggers and dashboard on "robocat""
# Expected Behavior
Tekton services pipeline, triggers and dashboard are deployed nightly from the respective nightly build. The process is documented in the "robotcat" setup document.

The pipeline for deployment from a release with overlays already exists.
Dedicated overlays need to be created for the "robocat" cluster.

Any prerequisite to the deployment must also be automated, documented and d

[2020-02-07 15:46] afrittoli commented on #224
/area dogfooding
/kind feature

[2020-02-10 17:11] tomgeorge commented on #206
/assign

[2020-02-14 17:12] afrittoli opened #235 "Setup monitoring components for infra clusters"
# Expected Behavior

We should monitor the status of the various CI/CD services and we should be able to display metrics about the status of the services using grafana, following the example of
https://monitoring.prow.k8s.io/d/8P7-1J8Wz/boskos-server-dashboard?orgId=1 and https://github.com/kubernetes/test-infra/tree/201c7788b244ab2fc3efae7249fb939223ef6e1e/prow/cluster/monitoring

Things that we

[2020-02-14 18:35] bobcatfish commented on #235
Great idea!

[2020-02-17 09:11] vdemeester commented on #235
/area test-infra
/kind enhancement

[2020-02-18 17:07] danielhelfand commented on #217
Would there be anything that prevents examples from creating a namespace and then just specifying that the resources should be created in the namespace that is part of the example?

[2020-02-18 18:37] sbwsg commented on #217
interesting.  So they'd include a namespace document as part of their yaml?  The only issue I could see there is collisions if multiple test runs are going at once.  Does that happen?  I'm not clear.

[2020-02-19 17:06] danielhelfand commented on #217
Yes, so add in a namespace to the YAML and have the resources be created in the namespace. It could get a bit unorganized as far as maintaining, but perhaps it could be reserved for specific cases.

It's a good question. I'm not familiar with exactly what is done for integration testing as far as infrastructure. What is provided for each pull request when integration tests are run?

[2020-02-20 20:52] sbwsg commented on #217
OK I think I was way off base with my last comment.  It looks like we spin up a completely fresh cluster for each integration test run (or, rather, Boskos does this).  So using a namespace won't collide I don't think.  :+1:

[2020-02-21 14:44] bobcatfish opened #241 "Ongoing GOLANGCI-LINT timeouts failing PRs and breaking nightly release"
# Expected Behavior

* GOLANGCI-LINT should only fail when there is an actual problem
* We shouldn't need to indefinitely bump the timeout on GOLANGCI-LINT
* We should only run linting when it's needed (when a code change is being made)

# Actual Behavior

GOLANGCI-LINT has been failing recently, on PRs with only doc changes and also on nightly releases (which change no code).

# Steps to Reproduc

[2020-02-21 15:14] bobcatfish commented on #241
[code]

Thoughts:
* 5 minutes????
* Are we linting the vendor directory? I can't imagine that we are b/c surely we'd see a lot more failures but I don't see anything excluding it, altho maybe golangci-lint does that itself?

[2020-02-21 15:24] bobcatfish commented on #241
Running it myself is still surprisingly slow but not 5 min slow

[code]

[code]

[2020-02-21 15:26] dibyom commented on #241
probably the same as https://github.com/tektoncd/plumbing/issues/211

I think I remember hearing that this happens when the cluster is under load

[2020-02-21 15:26] bobcatfish commented on #211
Whoops I made a duplicate - i think there's more info in #241 tho so im gonna close this one

[2020-02-21 15:26] #211 closed

[2020-02-21 15:27] bobcatfish commented on #241
hmm why would the cluster be under load?

[2020-02-21 15:29] bobcatfish commented on #241
Looking at a recent successful linting run from a recent nightly release:

[code]

Still > 3 min just to lint

[2020-02-21 15:31] bobcatfish commented on #241
Several days before that, 2m 44 seconds:

[code]

[2020-02-21 15:44] bobcatfish commented on #241
Ah okay, looks like the vendor directory isn't included by default: https://github.com/golangci/golangci-lint#command-line-options

[code]

[2020-02-21 16:04] bobcatfish commented on #241
I think @dibyom is right!

Check out our CPU usage in the dogfood cluster in the last 6 hours:

![image](https://user-images.githubusercontent.com/432502/75050296-b7498680-5499-11ea-9466-ebe837781329.png)

(I think 100% here actually means 400%, i dunno why it's being normalized like that - in other views I can see 400% - and the nodes we are using have 4 CPUs)

When I run linting locally it uses

[2020-02-21 16:09] bobcatfish commented on #241
Asked prow folks what they are using for kubernetes testing and they think `n1-standard-8` (we are currently using `n1-standard-4`)

[2020-02-21 16:11] bobcatfish commented on #241
Looks like we need to create a new nodepool or something to do this: https://cloud.google.com/kubernetes-engine/docs/tutorials/migrating-node-pool

[2020-02-22 06:02] chmouel commented on #241
Perhaps, splitting the lint jobs may help ?

The main job with the minimal/essentials linters which would be less resource intensive and the other job with the other linters?

or perhaps the other linter job in a periodic one if that's something available already?

[2020-02-24 16:08] jromero opened #243 "label_sync did not add area/buildpacks to tektoncd/catalog"
# Expected Behavior
Based on the PR https://github.com/tektoncd/plumbing/pull/203 we would expect a label `area/buildpacks` to exist in the tektoncd/catalog repo yet that is not the case.

# Actual Behavior

No such label exists.

See https://github.com/tektoncd/catalog/labels?q=buildpacks

[2020-02-24 16:22] vdemeester commented on #243
/kind bug
/area infra
/assign

[2020-02-24 16:31] vdemeester opened #244 "Auto-update labels on change"
There is a cronjob to sync the labels on the configuration. The thing is, the configmap where we store labels is not automatically updated whenever we change the `labels.yaml`.

- We should have this
- We should move it from the `prow` cluster to the `dogfooding` cluster :angel:

/kind feature
/area dogfooding

[2020-02-24 16:31] vdemeester commented on #244
See https://github.com/tektoncd/plumbing/issues/243

[2020-02-24 16:31] vdemeester commented on #243
@jromero manually fixed it and create #244 for making sure it doesn't require a manual intervention :angel:

[2020-02-24 16:31] #243 closed

[2020-02-26 15:26] vdemeester commented on #244
/assign

[2020-02-27 10:56] #244 closed

[2020-02-27 22:05] afrittoli opened #249 "Dashboard nightly are broken"
# Expected Behavior
Dashboard nightly work

# Actual Behavior
The release pipeline fails on the build step

# Additional Info
An updated build task is available in the dashboard repo which needs to be applied.
The interface of the release pipeline changed `source-repo` -> `dashboard-source-repo`, so the trigger template needs updating too.

[2020-02-27 23:01] #249 closed

[2020-02-28 12:01] afrittoli opened #251 "Prow config CD is broken"
# Additional Info
https://dashboard.dogfooding.tekton.dev/#/namespaces/default/taskruns/deploy-prow-config-k29bz

[code]

[2020-02-28 12:32] afrittoli commented on #251
When trying to apply changes, I caught this: https://github.com/tektoncd/triggers/issues/463

[2020-02-28 21:49] #251 closed

[2020-03-03 10:21] afrittoli opened #255 "Label sync periodic job fails"
# Expected Behavior
It should work :)

# Actual Behavior
[code]
# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-03-03 10:47] vdemeester commented on #255
/kind bug

[2020-03-03 10:50] vdemeester commented on #255
/assign

[2020-03-03 12:13] #255 closed

[2020-03-05 09:57] afrittoli opened #262 "Reduce boliler-plate code in cronjobs configurations"
# Expected Behavior
It should be possible to add new cronjobs by specifying a list of variables in some format (YAML / properties).

# Actual Behavior
Creating a new cronjob requires creating a new folder, a kustomize.yaml and a YAML to patch the base cronjob manifest.

# Additional Info
The problem with the boiler-plate code is that is more error-prone and on the long run it's harder to maintain.

[2020-03-05 18:25] sbwsg opened #266 "Update the log viewer app to support a jobName or taskName or similar to disambiguate jobs started with a shared Github UUID"
# Expected Behavior

Currently the log viewer app relies on a UUID to fetch logs from Stackdriver for display.  The proposed CI using Tekton Pipelines might end up sharing a single UUID across multiple jobs, so we'd need a way to separate the log output of each.  This could be achieved by adding a `taskName` query param to the requests for logs and using that to query stackdriver.

# Actual Behavi

[2020-03-05 18:26] sbwsg commented on #266
/assign

[2020-03-06 08:44] vdemeester commented on #266
/kind enhancement

[2020-03-16 13:13] vdemeester commented on #196
@bobcatfish @afrittoli do we have a tekton-robot account ?
- if yes who has access so we can create tokens for it (releases, …)
- if no, we should create one and share access (governance member)

[2020-03-16 13:59] afrittoli commented on #196
I believe there's a `tekton-robot` account that is used by prow, but I don't have access to its credentials. We will need an account to create releases, run CI jobs etc - we could use the same as prow or we could have a different one.

[2020-03-16 14:09] afrittoli commented on #262
It is also difficult to know which of the resources in the plumbing repo are automatically deployed and which not.  Having some kind of convention of folder structure, or metadata in json/yaml files might help maintain the repo.

I'm thinking something of the sort:
[code]

Where `.tektoncd` is a `YAML`/`JSON`/`ENV` file that specifies:
- name of the base cronjob
- name suffix for the target cronjo

[2020-03-19 17:20] sbwsg opened #277 "Share the releaseAsLatest param from pipelines to other projects"
# Expected Behavior

The interface for the publish and release pipelines of each project should be uniform.  We recently introduced a `releaseAsLatest` param to pipelines.  It would be good to introduce this param to the other projects as well.

# Actual Behavior

Only pipelines has the `releaseAsLatest` param right now.

[2020-03-20 15:01] eddycharly opened #278 "Helm chart"
I'm using a helm chart i wrote to deploy Tekton for a few months now and it's working great.

Would you be interested in a contribution for this ?

[2020-03-20 15:12] afrittoli commented on #278
@eddycharly thanks, I think it would be a nice idea. We do have an operator already, but there's a whole ecosystem of people that uses prominently helm, so it would be good.
Would you be interested in maintaining it and documenting it - at least until more contributors come along? What does it take to host an helm chart repo where people could download the chart from?

[2020-03-20 15:13] sbwsg commented on #277
/kind feature

[2020-03-20 15:13] sbwsg commented on #277
/assign

[2020-03-20 15:19] eddycharly commented on #278
Sure, i will be happy to maintain it.
Technical documentation is already available as it is generated with helm-docs.

I also have a couple of prow jobs to help releasing new versions of the chart.

On the hosting side, it can be as easy as putting a tar.gz and index.yaml in a bucket. That's the easiest solution, another option is to use [chartmuseum](https://github.com/helm/charts/tree/master/sta

[2020-03-20 15:21] eddycharly commented on #278
I'll try to open a PR today or tomorrow, it will be easier to discuss about it.

[2020-03-20 15:23] afrittoli commented on #278
OK - thank you. Would you like to add the PR to the experimental repo?
If we decide to host this, I think it might go into a dedicated repo.

[2020-03-20 15:27] eddycharly commented on #278
Ok for the experimental repo.
It will start the discussion, if you want to put it somewhere else i will close the PR and open another one on the target repo.

[2020-03-20 16:04] sbwsg commented on #165
I'm looking into an incorrect coverage report on https://github.com/tektoncd/pipeline/pull/2233. The complete build log is here: https://storage.googleapis.com/tekton-prow/pr-logs/pull/tektoncd_pipeline/2233/pull-tekton-pipeline-go-coverage/1241017694992470016/build-log.txt

Here's what I've observed so far:

1. `go test -coverprofile` complains about lots of syntax issues, seemingly related more

[2020-03-20 21:56] eddycharly commented on #278
I opened a PR with some WIP here https://github.com/tektoncd/experimental/pull/494

I started with a copy of my helm chart and took the opportunity to rewrite/improve a few things.
I hope it's a good starting point.

[2020-03-23 15:15] bobcatfish commented on #241
Note: double check we are using a version that includes the fixes in https://github.com/golangci/golangci-lint/issues/337

[2020-03-23 15:28] bobcatfish commented on #241
Looks like those were merged ~ oct 2019,  in https://github.com/tektoncd/plumbing/pull/279/commits/b16da69003fd7abe605888f0a25837ff14108708 @vdemeester updates us from 1.23.3 which was released in feb 2020, so it looks like we've got those optimizations already

[2020-03-23 21:18] bobcatfish opened #282 "Deploy build bot binary automatically"
# Expected Behavior

Changes to the buildbot cmd in https://github.com/tektoncd/plumbing/tree/master/buildbot should result in an automatic deployment to the dogfood cluster.

# Actual Behavior

You have to deploy it manually:

[code]

[2020-03-23 21:19] bobcatfish opened #283 "Run unit tests"
# Expected Behavior

Unit tests for components that live in plumbing, such as https://github.com/tektoncd/plumbing/tree/master/buildbot, should be run on every PR and block merging.

# Actual Behavior

#281 adds unit tests for the buildbot but nothing runs them.

# Additional Info

Depends on #281 (which adds the tests!)

[2020-03-24 06:32] vdemeester commented on #282
/kind feature
/area test-infra

[2020-03-27 15:00] afrittoli commented on #262
Another way to simplify cronjobs would be to put the static data into dedicated bindings, and keep only the job name in the json sent by the cronjob. We could use a CEL filter then to direct the request to the correct binding.

[2020-03-27 16:54] tomgeorge commented on #283
Would this be a prow change for the plumbing job?

[2020-03-30 06:59] vdemeester commented on #283
We should use tekton for this (aka no prow, but adding something to our dogfooding setup)

/cc @afrittoli

[2020-03-30 13:28] danielhelfand opened #286 "Needs Rebase Notification for Pull Requests"
Not sure if this is the appropriate place to open this/if there have already been discussions somewhere else.

# Expected Behavior

Similar to what is done for Kubernetes, there should be an automatic notification when a pull request for Tekton projects needs a rebase and the needs-rebase label should be applied to the pr. Upon successfully resolving conflicts, the label should be removed from the

[2020-03-30 13:38] afrittoli commented on #286
We could write a check for that.. unless there is already a github app for that.

[2020-03-30 13:54] afrittoli commented on #283
Probably a Tekton pipeline that runs all the different unit tests in parallel would be nice.
And also this is a neat use case for this feature:  https://github.com/tektoncd/pipeline/issues/2050

[2020-03-31 18:23] bobcatfish opened #288 "Create periodic tests based on Pipeline presubmit tests"
# Expected Behavior

We should try to proactively catch flakey tests. The idea behind this issue is to take the presubmit testing we do on Pipelines and run it nightly (maybe even multiple times?).

# Actual Behavior

We wait for things to fail on presubmit only.

# Additional Info

In https://github.com/tektoncd/pipeline/pull/2084 linting was removed from release pipelines b/c it was slow. There

[2020-04-01 07:07] vdemeester commented on #288
/area testing
/area test-infra
/kind feature

[2020-04-02 13:59] vdemeester opened #291 "CI: Build image on PR"
Now that we have a initial running ci on this repository using tekton, we should try to build the image as part of the CI so that we don't need to invoke mario by default.

/kind feature
/area testing

[2020-04-02 16:59] afrittoli opened #292 "Hub image is broken (again)"
# Expected Behavior
The hub image is built successfully

# Actual Behavior
It failed for a few days now:

[code]

# Steps to Reproduce the Problem

1. https://dashboard.dogfooding.tekton.dev/#/namespaces/default/taskruns/build-and-push-hub-v2shh
2.
3.

# Additional Info

[2020-04-02 17:24] bobcatfish opened #293 "Github project automation not working as expected :O"
# Expected Behavior

New issues added to pipeline tekton project (https://github.com/orgs/tektoncd/projects/3)  which are linked (pipeline, community, plumbing) should how up in the "needs triage" column, other projects should not.

# Actual Behavior

We are trying to use  https://github.com/philschatz/project-bot  but:

* Not all issues are automatically added to the project (e.g. i added https:/

[2020-04-02 17:26] bobcatfish commented on #159
These are the issues in the epic (retrieved from zenhub):

- plumbing#102 - Tektoncd project convention for pipeline-as-code
- plumbing#103 - Towards tektoncd project with no dependencies to plumbing
- plumbing#124 - Make the Mario bot production ready
- plumbing#137 - Automate obtaining a test cluster
- plumbing#158 - Setup periodics job for tektoncd projects (using dogfooding)
- plumbing#58 - Au

[2020-04-02 17:27] bobcatfish commented on #293
I wonder if having the same repo linked in multiple projects causes race conditions with `project-bot`:

![image](https://user-images.githubusercontent.com/432502/78279543-aef75900-74e5-11ea-912e-6fc73ede4d6e.png)

[2020-04-02 17:28] bobcatfish commented on #293
That would probably make more sense if we could see that the issues that werent showing up in "needs triage" were showing up in other projects, but at least in these 2 issues that isnt the case:

* https://github.com/tektoncd/pipeline/issues/2316
* https://github.com/tektoncd/plumbing/issues/291

[2020-04-03 05:19] vdemeester commented on #293
arf… :sweat:
/kind bug

[2020-04-06 11:28] #292 closed

[2020-04-08 12:47] eddycharly opened #306 "Run helm lint on tektoncd/experimental helm charts"
# Expected Behavior

`tektoncd/experimental` pull requests should not be merged if helm charts don't pass helm linter.
We should add a helm lint prow job on `tektoncd/experimental` pull requests.

# Actual Behavior

No job to check helm charts through helm linter.

[2020-04-08 13:28] eddycharly commented on #278
Thinking about a versioning policy for helm charts.

A good approach would be to use the same major and minor version as the target Tekton component, keeping the patch to increment on bug fixes.

In any case, the `appVersion` in the chart description should be the full target component version.

Ok for you ?

[2020-04-08 14:19] sbwsg opened #307 "YAML linter fails sporadically in catalog PRs"
# Expected Behavior

YAMLLint works consistently across all PRs.

# Actual Behavior

I've created two PRs in the past week where YAMLLint has died with a confusing error about ascii:

[code]

Issues where this happened:

- https://github.com/tektoncd/catalog/pull/264
- https://github.com/tektoncd/catalog/pull/252

# Steps to Reproduce the Problem

1. Open a PR in the catalog
2. Cross-fingers 🤞
3.

[2020-04-08 14:27] vdemeester commented on #307
/kind bug

[2020-04-09 09:31] eddycharly opened #309 "Ensure helm docs on tektoncd/experimental helm charts are up to date"
# Expected Behavior

`tektoncd/experimental` pull requests should not be merged if docs for helm charts are not up to date.
We should add a helm docs verification prow job on `tektoncd/experimental` pull requests.

# Actual Behavior

No job to check helm docs are up to date.

[2020-04-15 16:49] eddycharly opened #326 "Postsubmit prow job logs are not uploaded at the correct location"
# Expected Behavior

Prow postsubmit job logs are available from github.

# Actual Behavior

Prow postsubmit job logs are uploaded at a location that is not consistent with the prow configuration.

# Steps to Reproduce the Problem

Take any commit on a repo, show commit checks.

![image](https://user-images.githubusercontent.com/47974576/79364259-6742e980-7f49-11ea-8bec-a26fc3a1add6.png)

Click on

[2020-04-15 16:52] eddycharly commented on #326
/assign

[2020-04-15 18:47] eddycharly opened #328 "gcr.io/knative-tests/test-infra/coverage:safe image does not exist"
This makes go coverage postsubmit jobs always fail after an hour (timeout).

See here for example:
https://github.com/tektoncd/plumbing/blob/5a57488c13c3c33c0d53ee692c9e18f84dfb9e78/prow/config.yaml#L1188

Is this intended ?

[2020-04-15 22:01] eddycharly commented on #326
Fixed, see here for example: https://tekton-releases.appspot.com/build/tekton-prow/logs/tekton-pipeline-publish-images/1250534403294105601/

[2020-04-15 22:01] #326 closed

[2020-04-15 22:46] dibyom commented on #328
/kind bug

[2020-04-15 22:46] dibyom commented on #328
/assign

[2020-04-16 06:09] #328 closed

[2020-04-16 13:54] vdemeester commented on #291
/area dogfooding

[2020-04-16 13:54] vdemeester commented on #291
/assign

[2020-04-16 13:57] vdemeester commented on #291
/area dogfooding

[2020-04-16 17:17] vdemeester opened #333 "dogfooding: migrate nightly to a nigthly namespace"
Currently the nightly builds are on the default namespace of `dogfooding`. As we are starting to do CI on dogfooding, we are using `tektonci` for thoses. I wonder/wish if we should/could have a specific namespace for the nightly, that would be name `nightly`.

One of the reason here is that using the dashboard, it would be easier to filter those from other type of runs : https://dashboard.dogfoodi

[2020-04-16 17:31] vdemeester commented on #333
/area dogfooding

[2020-04-17 08:03] vdemeester commented on #309
@eddycharly can we close this issue or is there still work to do ?

/kind feature

[2020-04-17 08:05] vdemeester commented on #241
/kind bug

[2020-04-17 08:05] vdemeester commented on #306
@eddycharly I guess we can close this ?

/kind feature

[2020-04-17 08:07] vdemeester opened #335 "images: share the same base image (debian vs alpine)"
We should ensure all the image we use for our ci / cd share the same base image (`tekton/images` but potentially others).

- They would share the common layers (potentially reducing storage consumption — not a big deal)
- It makes them all consistent (aka same set of commands to install a package, …)

I would vote for `debian` mainly because `alpine` has `musl` instead of `libc` and that can be a

[2020-04-17 08:09] eddycharly commented on #306
@eddycharly linting  the operator chart is not there as the operator chart is not finished yet.

This will take some time though as there is no operator official release, a few things must be done before having a chart.

You can close it if you want i will create dedicated issues when needed.

[2020-04-17 08:10] vdemeester commented on #306
/close

[2020-04-17 08:10] #306 closed

[2020-04-17 10:00] eddycharly commented on #309
This is up and running.
/close

[2020-04-17 10:00] #309 closed

[2020-04-17 10:01] eddycharly opened #337 "Check that chart version is incremented when chart is modified"
Expected Behavior
tektoncd/experimental pull requests should not be merged if chart version is not incremented when a chart has been modified.
We should add a chart version increment verification prow job on tektoncd/experimental pull requests.

Actual Behavior
No job to check that chart version is incremented.

[2020-04-23 17:23] dibyom commented on #335
+1 for using debian everywhere!

[2020-04-23 18:29] danielhelfand opened #355 "Automatically Remove Approved Label with Change is Pushed to Pull Request"
# Expected Behavior

When a pull request is submitted and a reviewer adds a `lgtm` label to the pull request, an `approved` label is still needed to merge the pull request. In the event a second reviewer requests changes, the resulting push from the pull request contributor removes the `lgtm` label so that a reviewer has to once again review the changes for the pull request to be merged.

This doe

[2020-04-23 18:29] danielhelfand commented on #355
/kind feature

[2020-04-29 15:30] afrittoli commented on #196
The `github-token` secret now contains a token from the `tekton-robot` account.

[2020-04-29 15:30] #196 closed

[2020-05-02 15:11] bobcatfish commented on #34
These days I feel like boskos is serving us relatively well, and it is nice to have a completely sandboxed GCP project. Interested in hearing what other folks think.

[2020-05-04 13:27] bobcatfish opened #370 "ko failing to publish nightly image"
pipeline-release-nightly-w9cjw failed in the dogfood cluster last night, specifically pipeline-release-nightly-w9cjw-publish-images-krlpp failed with:

[code]

[2020-05-04 13:40] bobcatfish commented on #370
Here are the logs going a bit further back:

[code]

I wonder if the process is getting starved, and getting OOM-killed or timing out 🤔

[2020-05-04 13:50] bobcatfish commented on #370
I thought maybe it was because we were running so many builds at once, but none of the other builds that start at the same time are showing any sign of going too slowly or being overloaded.

[2020-05-04 13:56] vdemeester commented on #370
Looking at the logs, yeah it got OOM-killed or something along those lines.
/kind bug

[2020-05-04 14:00] bobcatfish commented on #370
Running manually to see what happens:

[code]

[2020-05-04 14:54] bobcatfish commented on #370
Same thing happened again, in the same way, which seems suspicious:

[code]

I wonder if the kill signals are just indications that ko is bailing and its cancelling other things in progress. Note this time there are no multi-minute gaps between output 🤔

[2020-05-04 14:58] bobcatfish commented on #370
Ah okay, I get the same problem locally when using ko from head, the image was using `v0.4.1-0.20200504014251-d45c52775002` installed via `go get github.com/google/ko/cmd/ko@master`

[code]

Might be a ko bug? I think we should probably pin ko.

[2020-05-04 15:06] vdemeester commented on #370
@bobcatfish oh nop, this means we need to update some `sed` somewhere in a script :sweat_smile: I wonder why it didn't fail before :thinking: All the import path are prefixed by `ko://`

[2020-05-04 15:17] bobcatfish commented on #370
I think they're supposed to be now? https://twitter.com/mattomata/status/1256967648509755393

@mattmoor:

[2020-05-04 15:23] bobcatfish commented on #370
Ah i see! christiewilson-catfactory is being added before ko:// maybe:

`hristiewilson-catfactory/ko://github.com/tektoncd/pipeline/cmd/webhook`

[2020-05-04 15:49] mattmoor commented on #370
This is my bad.  I started passing `ko://` deeper so we could act on it and the default + `-B` both worked, but `-P` got broken :)

Should be fixed here: https://github.com/google/ko/pull/163

[2020-05-04 17:01] mattmoor commented on #370
merged and released.  please lmk if you hit anything else

[2020-05-04 19:37] bobcatfish commented on #370
Awesome, thanks @mattmoor ! I'll update to pin to the new release.

[2020-05-04 20:24] bobcatfish commented on #370
Triggering ko-gcloud image build manually to pick up fixed version of ko:

[code]

hmm didn't work tho, ko@master seems to get cached somewhere

![image](https://user-images.githubusercontent.com/432502/81010071-b632bf00-8e23-11ea-99f5-6b6c615740a7.png)

[2020-05-04 20:30] bobcatfish commented on #370
Hopefully the gcloud-latest image won't get cached on our nodes? 🤔  If we keep seeing this even after we pin ko that might be the problem.

[2020-05-05 15:19] bobcatfish commented on #370
Trigger manually now that #371 is merged:

[code]

[2020-05-05 15:31] sbwsg opened #373 "Log viewer app in dogfooding hits quota when paginating logs from stackdriver"
# What Happened

While debugging logs on a PR @bobcatfish noticed that this link was not loading as expected: http://logs.dogfooding.tekton.dev/?buildid=230b8f00-8ee0-11ea-93ac-8937f24bd01d&namespace=tektonci

Checking the logs for this logs app surfaced the following error:

So ideally we'd do something to mitigate this problem; rate limit the requests that are made or expand the number of log en

[2020-05-05 15:32] bobcatfish commented on #370
Looks like it worked and built with 0.5.0! Gonna manually trigger the nightly run now:

[code]

[2020-05-05 15:32] sbwsg commented on #373
/kind bug

[2020-05-05 16:07] bobcatfish commented on #370
Seems like the same error again but kinda confusing - i suspect image caching. Im gonna try again anyway:

[code]

[2020-05-05 16:20] bobcatfish commented on #370
Same error still occurring unfortunately!

[code]

Theories:

1. the nodes are caching the images, so gcloud-latest isnt being updated. can solve by changing pull policy maybe?
2. i built + pushed the wrong image. either need to find the right image to update, or maybe overnight everyhting will run and it'll fix itself?
3. the image didnt actually pull the fixed ko
4. this didnt actually fix the p

[2020-05-05 16:39] vdemeester commented on #370
If we are using `:latest` it should re-download it all the time (using `:latest` image is similar to the PullAlways policy).
Which image are we using when this fails ? :thinking:

The image(s) should rebuild themselves each and every night.

:unamused:

[2020-05-05 17:20] afrittoli commented on #370
Patch on plumbing: https://github.com/tektoncd/plumbing/pull/375

[2020-05-05 17:25] afrittoli commented on #370
Patch on pipeline https://github.com/tektoncd/pipeline/pull/2554

[2020-05-05 18:01] afrittoli commented on #370
Path on triggers https://github.com/tektoncd/triggers/pull/566

[2020-05-05 18:01] afrittoli commented on #370
Patch on dashboard: https://github.com/tektoncd/dashboard/pull/1352

[2020-05-05 21:19] bobcatfish commented on #370
Thanks @afrittoli !!!! 🎉

[2020-05-07 17:06] bobcatfish commented on #241
Some recent related PRs:
* https://github.com/tektoncd/pipeline/pull/2567
* https://github.com/tektoncd/pipeline/pull/2551
* https://github.com/tektoncd/plumbing/pull/376

[2020-05-07 17:29] StevenACoffman commented on #241
Hi! So you can either disable the "unused" linter, or upgrade to the recently released 1.26.0 or better yet do both! When the next release (1.26.1 or 1.27.0) drops [it will contain fixed that reduced memory usage on flexkube dropped from 10 GB to 1 GB. ](https://github.com/golangci/golangci-lint/issues/994#issuecomment-623079605) and improve speed substantially.

+ golangci/golangci-lint#1063
+ go

[2020-05-07 17:34] vdemeester commented on #241
@StevenACoffman yeah that's what I gathered :stuck_out_tongue_closed_eyes:

[2020-05-07 17:35] afrittoli opened #378 "[feature] Create a Tekton based CI job for go linting"
# Expected Behavior
We run the go linter in dedicated CI jobs driven by Tekton

# Actual Behavior
We run the linter as part of the build job in Prow

# Additional Info
This CI job is used by several repositories, so it should be defined in the plumbing repo.
We should use the existing event listener and add a trigger to the list for each repo we want to run the job on. I

This issue can be conside

[2020-05-07 17:38] vdemeester commented on #378
/kind feature
/area test-infra
/area dogfooding

[2020-05-08 10:46] afrittoli opened #379 "Hub image is broken (again)"
# Expected Behavior
The hub image nightly build is successful

# Actual Behavior
It's broken:
[code]

# Steps to Reproduce the Problem

1. Last run: https://dashboard.dogfooding.tekton.dev/#/namespaces/default/taskruns/build-and-push-hub-brbjg
2. On the dogfooding cluster:
[code]
3. Alternatively, on a PR in the plumbing repo, issue a comment to trigger Mario
[code]

# Additional Info

[2020-05-08 10:47] afrittoli commented on #379
/kind bug

[2020-05-08 11:01] afrittoli opened #380 "Kubectl image is broken"
# Expected Behavior
kubectl image is built nightly

# Actual Behavior
It fails with
[code]

# Steps to Reproduce the Problem

1. On the dogfooding cluster:
[code]
1. Alternatively, on a PR in the plumbing repo, issue a comment to trigger Mario
[code]

# Additional Info

[2020-05-08 11:01] afrittoli commented on #380
/kind bug

[2020-05-12 09:40] vdemeester commented on #291
/close

[2020-05-12 09:40] #291 closed

[2020-05-12 14:50] bobcatfish opened #382 "Document how tekton dashboard is deployed"
# Expected Behavior

When build cop and trying to deal with any potential issues related to dashboard not working (e.g. it was down today, turned out it was expected but that's another story!) it should be possibelt o look at the main README in plumbing, and from there navigate to docs and config for the dashboard, both https://dashboard.dogfooding.tekton.dev/ and the robocat dashboard (are they 2

[2020-05-12 14:56] vdemeester commented on #382
/kind documentation

[2020-05-12 18:21] bobcatfish commented on #241
Looking back at https://github.com/tektoncd/plumbing/issues/241#issuecomment-589717980 ive confused myself again, that comment says the _dogfood_ cluster is maxing out CPU, but these are running in the prow cluster.

I think it might have been a typo cuz it looks like the prow cluster gets to 100% utilization pretty regularly (link to data in [metrics explorer](https://pantheon.corp.google.com/mon

[2020-05-12 19:06] bobcatfish commented on #241
Okay I've migrated everything in the prow cluster to a new pool: highmem-pool, using n1-standard-8  If this improves things but we want more, we can go up to 16... or 32! OR 96! maybe not.

Anyway I followed along with https://cloud.google.com/kubernetes-engine/docs/tutorials/migrating-node-pool more or less, though I created the nodepool through the web interface. It was surprisingly easy but als

[2020-05-13 13:30] bobcatfish commented on #241
CPU usage is still sometimes going surprisingly high:

![image](https://user-images.githubusercontent.com/432502/81818710-5f507800-94fc-11ea-8a97-fb82890d3a9e.png)

But it seems significantly less extreme than before!

[2020-05-13 14:44] afrittoli opened #386 "Automate provisioning of webhooks"
# Expected Behavior
I can configure in a file in git which endpoints should have a webhook provisioned:
- in what repos
- with a shared secret
- with a list of events to be triggered

# Actual Behavior
Today webhook provisioning is manual.

# Additional Info
The URL of the webhook is defined in an ingress, so it should match.
One way to achieve this could be to have a controller watching ingresses

[2020-05-13 14:49] afrittoli opened #387 "Automate provisioning of DNS names in Netifly"
# Expected Behavior
I want to be able to specify the domain name for a service should be exposed through in the ingress alone. The name should be provisioned using the netifly API.

We may want to delete the DNS name when the ingress is deleted?

# Actual Behavior
The only way to configure the DNS name today is via the netifly console.

# Additional Info
A first solution to this issue could be to

[2020-05-13 14:52] afrittoli commented on #382
Some base documentation on how to do this is available at https://github.com/tektoncd/plumbing/blob/44e1297ae9671074a8aced1c5f6869d85a50f24d/tekton/cd/README.md#L1 - but there is no documentation about how this done specifically for dashboard in `dogfooding` and `robocat`.

[2020-05-14 17:05] bobcatfish commented on #382
https://github.com/tektoncd/plumbing/pull/228 probably solves a lot of this also!

[2020-05-16 12:15] eddycharly commented on #278
Closing. Too broad. More relevant issues exist in the experimental repo.

[2020-05-16 12:15] #278 closed

[2020-05-16 12:16] eddycharly commented on #337
Closing. Has been implemented.

[2020-05-16 12:16] #337 closed

[2020-05-18 12:55] afrittoli opened #391 "test-runner image build fails"
# Expected Behavior
The image is built successfully

# Actual Behavior
The build fails on the githubhelper:
[code]

# Steps to Reproduce the Problem

1. Run the following against dogfooding
[code]

# Additional Info

[2020-05-18 13:10] afrittoli commented on #391
It looks like the `Dockerfile` changed accordingly on knative side: https://github.com/knative/test-infra/blob/7a28f47cdbcb11b92359528689b57030fafc127d/images/prow-tests/Dockerfile#L96-L101

[2020-05-18 13:15] vdemeester commented on #391
oh we can remove the tool from the image now anyway :upside_down_face:

[2020-05-18 13:16] afrittoli opened #392 "Pipeline, Triggers and Dashboard deployment to robocat failed"
# Expected Behavior
Deployment worked well

# Actual Behavior
[code]

[2020-05-18 13:21] afrittoli commented on #392
This seems to be caused by the new labels: https://github.com/tektoncd/pipeline/commit/edc453934a183d44fde739dc24d6ca6b25cdeb6b

[2020-05-18 13:34] afrittoli commented on #392
Workaround:
- delete deployments
- add labels to the namespace
- redeploy

[2020-05-18 13:37] afrittoli commented on #392
Similar issue on triggers: https://github.com/tektoncd/triggers/commit/40604508e3624d5710540987f50b78f2644ed2b5

[2020-05-18 13:38] afrittoli commented on #392
And dashboard: https://github.com/tektoncd/dashboard/commit/129b35d448a4a3575b66ff3a20a19607ab59e905

[2020-05-18 13:59] eddycharly commented on #392
Yes, sorry for that :(
I wrote in the PR description that it would break updating.

[2020-05-18 14:02] afrittoli commented on #392
It's ok, thanks for adding it to the PRs too.
I didn't review those so I didn't know, but that's what we have the early integration in `robocat` for :)

[2020-05-18 14:02] afrittoli commented on #392
This is something that the operator (and helm chart?) should take care of handling

[2020-05-18 14:04] eddycharly commented on #392
helm charts already use the labels as they don't share the manifests with individual repos.

[2020-05-19 10:59] #391 closed

[2020-05-19 21:20] afrittoli opened #395 "[feature] Diversify Cloud Providers for Project Infrastructure"
# Expected Behavior
Tekton runs CI/CD pipelines using cloud resources from different cloud providers

# Actual Behavior
Today all CI/CD pipelines run on GCP/GKE resources.

# Additional Info
Today we run Tekton's CI/CD jobs on Google cloud exclusively, for a couple of reasons:
- the project was born at Google, and we inherited the project infrastructure from there
- several projects in the kuberne

[2020-05-19 22:00] dlorenc commented on #395
One strategy I've seen is to decouple regular, platform agnostic tests from tests that exercise cloud platform compatibility.

That way you could have one set of tests that can theoretically run anywhere on every PR, then only run the cloud platform ones on PRs that have a reasonable chance of affecting those pass results.

All e2e tests are flaky, especially ones that require cloud platforms. Mul

[2020-05-20 09:59] vdemeester commented on #395
/kind feature
/area test-infra

[2020-05-20 14:38] afrittoli opened #397 "[feature] Automate creating PR for cherry-picks"
# Expected Behavior
We have an automatic way to generate PRs when cherry-picking to a release branch.
Each PR reflects the original PR for the commit being cherry-picked, including:
- number of commits in it
- "kind" label applied to the PR

# Actual Behavior
This has to be done manually today, which is error prone.

[2020-05-20 14:56] vdemeester commented on #397
/kind feature

[2020-05-20 20:00] afrittoli commented on #395
@dlorenc we could start running periodic jobs against other cloud providers - and if they are stable enough - phase them in into CI.

[2020-05-20 20:17] bobcatfish opened #398 "Some integration tests hanging on dashboard PRs"
# Expected Behavior

Prow Integration test statuses should always eventually get updated instead of just hanging indefintely.

# Actual Behavior

Notably in https://github.com/tektoncd/dashboard/pull/1406 and https://github.com/tektoncd/dashboard/pull/1403 the integration tests would just hang. Symptoms:

* Always "pending" state, in spite of how many /test commands issued
* When you click "detail

[2020-05-20 20:23] bobcatfish commented on #398
Googling for ` failed to create a sandbox for pod "c90a44ca-9abe-11ea-b60d-a22e91c6f8b8": operation timeout: context deadline exceeded` led me to [https://github.com/kubernetes/kubernetes/pull/79451](https://github.com/kubernetes/kubernetes/pull/79451) so I got the bright idea that maybe if I update the nodes, they will come with a fix for this issue.

However, the fact that the FailedCreatePodSan

[2020-05-20 20:23] #398 closed

[2020-05-21 18:36] danielhelfand commented on #378
I would be interested in picking this up. Assuming this would follow a similar pattern to what was added for [yaml linting](https://github.com/tektoncd/plumbing/pull/336/files)? As far as adding a new Task for go linting, updating the plumbing trigger template with PipelineRun details, and adding a new Pipeline to run?

Would making use of the [go linting task](https://github.com/tektoncd/catalog/

[2020-05-26 15:47] bobcatfish opened #400 "check-pr-has-kind-label should keep applying until fails or succeeds"
# Expected Behavior

check-pr-has-kind-label is a required check - contributors should be able to depend on it working instead of it getting stuck and blocking their PRs until they intervene

# Actual Behavior

Sometimes the check is forever pending, e.g. on https://github.com/tektoncd/pipeline/pull/2541 this happened and we had to remove and re-add the kind label to trigger it running.

it seems

[2020-05-26 20:41] afrittoli commented on #400
This helps https://github.com/tektoncd/plumbing/pull/390.

When a PR is synced, that status is reset - I'm not sure if it's because the check is marked as required - GitHub does not do that for all check I think.
In any case, running the job on sync ensures that the check does not remain in a limbo state.

I made the PR and then forgot to apply it :( it is applied now and it seems to be working.

[2020-05-27 13:30] bobcatfish opened #402 "Migrate tektoncd/pipelines Prow checks to Tekton"
# Expected Behavior

The goal of this issue is to chip away at migrating individual checks that are done with Prow to Tekton.

We also might want to split some of these existing checks up into multiple checks (e.g. the e2e tests do both the "yaml" tests and the end to end tests <-- but they both need a boskos cluster)

# Actual Behavior

These checks currently are handled by Prow:

- [ ] pull-tekt

[2020-05-27 13:30] bobcatfish commented on #402
Feel free to chip away at this one incrementally!

[2020-05-28 14:49] bobcatfish opened #403 "Triggers nightly release sometimes failing with same strange error"
# Expected Behavior

Nightly releases should only fail if something is actually wrong with building and releasing the project.

# Actual Behavior

1. Last night: failure
2. Night before: passed
3. Night before that: failure

Both failures have an error that looks like this:

[code]

While we have had a lot of timeouts, this one seems to be something different:

[code]

# Additional info

Task runs

[2020-05-28 15:47] bobcatfish commented on #403
I was able to duplicate this locally by checking out the revision that built last night (8e7c4798a520fe371c815d40f8fbdb2c72604bdd) and running the same container:

[code]

[2020-05-28 16:30] bobcatfish commented on #403
I ran out of ideas:

* I thought maybe the underlying node was the cause, but I actually found the same node which had run a version that passed and a version that succeeded
* I thought maybe a previous Task had put the source code into a weird state but this is the first task that executes

https://github.com/golangci/golangci-lint/issues/897  seems related but I couldnt get much further than tha

[2020-05-28 16:46] #403 closed

[2020-06-01 14:42] dlorenc commented on #395
Makes sense. So to be clear, we want billing resources with:

- GCP
- IBM Cloud
- Azure
- AWS

Any others?

[2020-06-02 08:18] vdemeester commented on #378
/assign @danielhelfand

[2020-06-02 08:21] vdemeester commented on #402
Updated the title to reflect that it's only on `tektoncd/pipelines`.. will "soon-ish" add issues for the other tektoncd projects :upside_down_face:

[2020-06-02 08:22] vdemeester commented on #395
Maybe Digital Ocean ? :thinking:

[2020-06-03 13:35] a-roberts opened #404 "Add a new releaser: AlanGreene"
# Expected Behavior
@AlanGreene should also be able to do Tekton Dashboard and Webhooks Extension releases (https://github.com/tektoncd/dashboard/issues/1421 🥳 )

# Actual Behavior
He can't as we've not yet really done anything - when I was added, I think I was added to a certain group on GCP? It lets me create a release secret that's patched to the meow serviceaccount, and I get to modify the buc

[2020-06-03 13:52] a-roberts opened #405 "Reviewers not on the reviewers list can lgtm PRs (for experimental at least)"
# Expected Behavior
I expected what's in the OWNERS file for a repo to always apply

# Actual Behavior
See https://github.com/tektoncd/experimental/pull/553, @eddycharly isn't in the OWNERS file as a reviewer though

[2020-06-04 14:54] #378 closed

[2020-06-04 17:25] afrittoli opened #407 "Increase visibility of Nightly Releases"
# Expected Behavior
Users can easily discover nightly releases, their content and support matrix.

# Actual Behavior
It's not obvious where to find nightly releases, they don't have release notes, nor a compatibility matrix.

# Additional Info
This will require:
- A place where we list releases and their release notes. We could use GitHub "draft" releases, or some webpage on the tekton.dev domain

[2020-06-08 15:13] bobcatfish opened #411 "Include co-authors in release "thank you" list"
# Expected Behavior

GitHub's [Co-authored-by syntax](https://help.github.com/en/github/committing-changes-to-your-project/creating-a-commit-with-multiple-authors#creating-co-authored-commits-on-github) allows a commit to include multiple authors.

When we create shoutouts in the release notes we should include co-authors as well.

# Actual Behavior

I think the logic is at https://github.com/tekt

[2020-06-08 15:20] vdemeester commented on #411
/cc @afrittoli
/kind feature

[2020-06-10 12:33] afrittoli opened #413 "Tekton Coordinated releases"
In the discussion on [operator versioning](https://docs.google.com/document/d/1WCX5Gbbid8vdYlvMic4AL2rjs44Cf4m6jWtp9CAvv1g/edit#heading=h.78q5cdvby2fi) one of the options is for Tekton components to share version numbers.

Today all components release independently from each other.
When a component introduces support for a version of another component, that information is stored on the release not

[2020-06-11 22:41] bobcatfish opened #416 "Create-draft-release uses last commit from previous release"
# Expected Behavior

When grabbing commits between the previous and next releases, no commits from the previous release should be included.

# Actual Behavior

The last commit from the previous release is included.

# Steps to Reproduce the Problem

I ran this to create tekton pipeline 0.13.2:

[code]

And I ended up with these items in the draft:

[code]

But #2794 was part of the 0.13.1 release

[2020-06-11 22:41] bobcatfish commented on #416
/kind bug

[2020-06-15 10:18] #379 closed

[2020-06-16 15:41] bobcatfish commented on #241
I think we've stopped seeing this issue, we can reopen if it starts happening again.

As we start migrating to tekton based checks (i think @vdemeester created a linting check that runs in dogfooding) we will probably need to increase the instance size of the dogfooding pool also.

[2020-06-16 15:41] #241 closed

[2020-06-16 16:31] StevenACoffman commented on #241
For later reference, where is the version of golangci-lint pinned?

[2020-06-16 17:04] bobcatfish commented on #241
@StevenACoffman  I'm pretty sure it's this:

https://github.com/tektoncd/plumbing/blob/b75caf67256fd488727ab17a79c13fa5503bd251/tekton/images/test-runner/Dockerfile#L170-L172

[2020-06-16 18:33] a-roberts commented on #404
/meow

@bobcatfish @vdemeester can anybody make this happen please? We discussed on the working group call and Vincent suggested an awesome mechanism is in the works but for now we could do things manually 🤞

[2020-06-16 18:35] a-roberts opened #426 "Should we bump the ko image to be 0.5.1 from 0.5.0?"
Hi all, I think w need to update to use ko 0.5.1 to fix a permissions issue that, to cut a long story short, means we can't yet update the katakoda dashboard tutorial to use our 0.7.0 release.

We think it's because the version currently used in the ko gcloud utils image, doesn't have the fix we need. this is the current Dockerfile https://github.com/tektoncd/plumbing/blob/master/tekton/images/ko-

[2020-06-16 19:05] sbwsg commented on #426
/kind question

[2020-06-16 19:05] sbwsg commented on #426
oops.

/kind bug

[2020-06-16 20:49] StevenACoffman commented on #241
Thanks! Consider upgrading to 1.27.0 for more memory and cpu usage improvements.

[2020-06-16 21:23] bobcatfish commented on #241
oooo sg! Thanks @StevenACoffman  - opened https://github.com/tektoncd/plumbing/pull/430

[2020-06-18 15:02] AlanGreene commented on #426
I think this can be closed. ko 0.5.0 was re-tagged at some point, but currently shares the same commit sha as 0.5.1
Using 0.5.0 would only cause an issue if someone had it installed / cached locally from before it was re-tagged to its current sha, which shouldn't be an issue in our CI.

[2020-06-18 15:29] a-roberts commented on #426
Cool, I'll close this off one then (and if there ever is a need to get it bumped that's a new PR for a new reason!), thanks

[2020-06-18 15:29] #426 closed

[2020-06-19 16:04] afrittoli opened #435 "Setup triage party"
Setup triage party (https://github.com/google/triage-party#triage-party-) in the tekton infra so that we can play with it for a bit and decide whether it helps Tekton and we want to adopt it or not.

[2020-06-19 16:04] afrittoli commented on #435
/cc @bobcatfish

[2020-06-19 16:29] bobcatfish commented on #435
Thanks @tstromberg!!

[2020-06-19 18:06] tstromberg commented on #435
Please let me know if you need any help getting it setup right -- as well as any ideas you have on how to improve Triage Party.

[2020-06-22 13:53] bobcatfish commented on #404
Sorry for the delay! I've taken @AlanGreene 's email from slack and gave him the same permissions as @dibbles in [tekton-releases](https://github.com/tektoncd/plumbing#gcp-projects):

- Service Account Key Admin
- Service Account User
- Storage Object Admin

Let me know if that doesn't do the trick @a-roberts !

Sorry again for not just taking care of that sooner!

[2020-06-22 14:49] vdemeester commented on #435
I really like that idea :heart_eyes_cat:

[2020-06-22 15:41] nikhil-thomas commented on #413
@bobcatfish

I totally agree with this.

However, one thing have observed is that most of the time the separation between Pipelines, Triggers, etc is visible only to us, the developers. Most of the users see at Tekton (not components) as a CICD solution. So i believe it will be a great improvement of our enduser-experience, If we could make them not think about figuring out which version goes with

[2020-06-22 22:58] dibyom opened #439 "Delete old TaskRuns/PipelineRuns in dogfoding?"
# Expected Behavior

The cluster should only contain the last N runs.

# Actual Behavior

We have runs created 270 days ago. This makes both `tkn` and `kubectl` (as well as the dashboard) very slow to use.

[code]

# Additional Info

[2020-06-23 13:50] bobcatfish commented on #439
Yikes, good point!

I wonder if a cron is our best bet here?

[2020-06-23 14:07] dibyom commented on #439
Yeah a CronJob is I think what we suggested in Pipelines.

[2020-06-24 07:10] vdemeester commented on #439
We can start with a cronjob using `tkn … delete` maybe (with the `--keep` flag) and maybe, experiment with a garbage collector (that would allow us do smarter things, like keeping some based on labels or annotations, …)

[2020-06-24 11:09] afrittoli commented on #439
I started working on this.

[2020-06-25 06:00] #439 closed

[2020-06-25 20:12] afrittoli commented on #435
There are example manifests for k8s available: https://github.com/google/triage-party/blob/master/deploy/kubernetes/configmap.yaml

I would suggest we do the same that we did with prow, copy the manifests into the plumbing repo a deploy the config from git continuously.

[2020-06-25 20:19] afrittoli commented on #435
Thanks @tstromberg, I do have a question. AFAIU, triage party will impersonate a functional user in github. Since the app will be exposed publicly, I would like to create a dedicated triage-party user and give it minimal access rights, to avoid giving the world more power than they should have.  What does the setup used by other projects look like?

[2020-06-25 22:30] tstromberg commented on #435
@Andree - I just happened to clarify the permissions issue yesterday:
https://github.com/google/triage-party#requirements

Triage Party is an explicitly read-only interface by design, so the only
required API permission is `public_repo` (read-only).

Kubernetes created a new-user for Triage Party, which I would recommend as
a best practice. I'm using my personal for other projects, but in
the inte

[2020-06-30 13:49] AlanGreene commented on #404
Thanks @bobcatfish, all sorted now! 😸
/close

[2020-06-30 13:49] #404 closed

[2020-07-01 16:11] wlynch commented on #435
Didn't know about this issue, but I inadvertently discovered this after talking with one of my friend's involved in a k8s SIG and set up a demo instance here: https://triage-party-u2qx2zgfja-uc.a.run.app/

Currently runs in one of my test projects, but this was pretty easy to set up so we should be able to recreate it pretty easily in a Tekton owned project.

+1. You can generate a personal access

[2020-07-07 17:53] pritidesai commented on #165
recently happened in the Pipeline PR # [2909](https://github.com/tektoncd/pipeline/pull/2909) as well

The stats were produced for just 2 out of 13 `go` files:

File | Old Coverage | New Coverage | Delta
-- | -- | -- | --
pkg/pod/workingdir_init.go | 94.4% | 92.9% | -1.6
pkg/reconciler/pipeline/dag/dag.go | 98.9% | 98.8% | -0.1

https://github.com/tektoncd/pipeline/pull/2909#issuecomment-654487237

[2020-07-08 20:07] wlynch opened #471 "Incident 2020/07/08: Tekton CI Jobs Sporadically Failing"
/assign wlynch

# What we know

Several reports of CI jobs failing suddenly, or terminating without cause.

Examples:
- https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_dashboard/1605/pull-tekton-dashboard-integration-0-12-1-tests/1280909023129899015/
- https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_experimental/561/pull-tekton-experimental-b

[2020-07-08 20:13] wlynch commented on #471
It also looks like certain Pipeline tests (notable pipeline and go coverage) might be individually causing issues for nodes:

![image](https://user-images.githubusercontent.com/1844673/86965527-b7d77680-c135-11ea-92e8-6aa2c45b1544.png)

I'll also look into bumping the cores per node.

[2020-07-08 20:34] wlynch commented on #471
Memory usage is also high, so I'm going to just add a new node pool with an upgraded machine type:

![image](https://user-images.githubusercontent.com/1844673/86967610-dbe88700-c138-11ea-9fd0-6616b2d4e1d7.png)

[2020-07-08 20:41] wlynch commented on #471
So it looks like the containers (`test` and `sidecar`) never reported ready, and the pod had the following tolerations set:
[code]

My guess is if the pod was resource starved, it never responded ready in time, the pod was evicted after 300s, and then the test never finished.

[2020-07-08 20:55] wlynch commented on #471
Also worth noting is even though limit-ranger seems to be applied on the pod, the reported limit by GKE is 0:

![image](https://user-images.githubusercontent.com/1844673/86969425-c3c63700-c13b-11ea-9f3c-e3b1a6d03477.png)

Not sure if this is WAI or not.

[2020-07-08 21:30] wlynch commented on #471
Pool migration is now complete. I'll keep an eye on the usage graphs to see if we need to make any additional changes, but otherwise I'm going to close this out.

[2020-07-08 21:30] #471 closed

[2020-07-14 22:59] wlynch opened #477 "Isolate CI jobs by test type / project"
Tracking issue for separating CI jobs into separate node pools by test type and/or project so that expensive integration tests do not starve faster build/unit tests for resources.

Things we need to figure out:
- Should we group by project, test type, or both (or some other factor?)
- How much overhead would we incur by creating more sharded node pools?

[2020-07-14 23:00] wlynch opened #478 "Configure Pod Resource Limits and Requests for CI jobs"
AI from WG / #471 : Currently it looks like we are not setting explicit resource requests and limits for jobs, which can lead to resource strain across the CI cluster. We should:

1.  Start accurately setting and tracking resource requests for Job types
2. Once we're satisfied that resource requests are set reasonably, enforce resource limits.

[2020-07-16 22:17] afrittoli opened #482 "Setup condition for ∈ org or "ok-to-test" label before running Tekton based CI jobs"
# Expected Behavior
CI Jobs are only executed if a PR was submitted by someone who belongs to the org or if the "ok-to-test" label was added.

# Actual Behavior
CI Jobs are executed regardless.

# Additional Info
This avoids letting anyone from outside of the org running arbitrary code in CI checks, and it provides continuity with the functionality available from prow today.

[2020-07-16 22:20] afrittoli opened #483 "Tekton CI should comment on how to re-run tests"
# Expected Behavior
Similar to what prow does, when test job fail they should report on how to re-run them.
The comment should only be posted once (old one can be deleted), and should include all checks managed by Tekton.
Certain checks (like the kind label check) may want to display extra text.

# Actual Behavior
No comment is displayed.

# Additional Info

[2020-07-16 22:22] afrittoli opened #484 "Document how to setup new CI Jobs"
# Expected Behavior
Document with examples exists on how to create a new CI jobs, where to host them, how to add conditions and run commands to them.

[2020-07-20 17:38] pritidesai opened #488 "Create a new label - tep"
We often run into discussion whether these changes need to go through TEP proposal. It will be great to have a designated label for `TEP` so that any GitHub issue can be marked with it to notify that it either has or need a TEP for changes being proposed.

/assign vdemeester

[2020-07-23 17:38] afrittoli opened #491 "Update trigger template params to use $(tt.params)"
# Expected Behavior
All trigger templates in the plumbing repo should use the new syntax `$(tt.params)` from triggers v0.6.0
https://github.com/tektoncd/triggers/releases/tag/v0.6.0

# Actual Behavior
This is not required to deploy v0.6.0 but we should change as soon as possible as in v0.7.0 this is going to be most likely removed.

/kind cleanup

[2020-07-23 17:50] jerop opened #492 "Automate Issues and Pull Requests Lifecycle"
# Feature Request

Currently, Tekton Build Cops have to manually check issues and pull requests then ping authors if they haven’t been updated in a while. This is a cumbersome process that can be automated and save build cops time.

Similar to Kubernetes, we can automate this Build Cop task by adding lifecycles to Tekton Issues and Pull Requests, as shown in [this example](https://github.com/kuber

[2020-07-23 17:52] jerop commented on #492
/kind feature
/assign

[2020-07-24 12:29] savitaashture commented on #491
/assign

[2020-07-27 16:46] dlorenc commented on #492
This would be awesome! Huge +1!

[2020-07-28 05:29] barthy1 opened #495 "Run Tekton tests and builds for other architectures"
At this moment tests and releases for Tekton parts (pipeline, triggers, dashboard, operator) are available only for amd64.
Other architectures (s390x, ppc64le, arm64) usually require to run the tests and builds on the native hardware.
Suggestion is to add to Tekton CI/CD system the ways to run the tests and builds on corresponding native hardware.
My team (from IBM Z) can help with hardware, setup

[2020-07-28 14:05] bobcatfish commented on #495
Hey @barthy1 ! This sounds really promising - any chance you'd be able to attend a future productivity working group meeting (https://github.com/tektoncd/community/blob/master/working-groups.md#productivity) to discuss further? and/or we can schedule a meeting in a timezone that works for you instead.

but I'm sure the TL;DR is that we'd be really excited to add tests on more architectures :D i th

[2020-07-28 16:11] barthy1 commented on #495
Hi @bobcatfish ! I'd be glad to visit next productivity working group meeting, however this Thursday I have already plans for 1pm EST :( Any chance for another time? (sorry)

Yep, sure, we need to discuss all these things. Goal from our side to provide evidence for community that Tekton can be running on Z( and Power), and how we can to do that - here we need experts input :)
I have already some s

[2020-07-29 16:27] #488 closed

[2020-07-30 17:27] bobcatfish commented on #495
Hey @barthy1 ! No problem at all - we discussed this briefly at today's WG meeting (there should be a recording up soon) and I think @afrittoli will be reaching out to you soon. Also I've created a survey (https://forms.gle/3A7LG69Lct48fHKfA) to gauge interest in having an alternate time for the working group.

[2020-07-30 17:46] #491 closed

[2020-08-06 17:29] bobcatfish commented on #495
Related issue in pipeline: https://github.com/tektoncd/pipeline/issues/856

[2020-08-07 17:55] sbwsg opened #502 "Create a shared pool of example YAMLs that exercise Tekton components in tandem"
# Expected Behavior

The tektoncd org has a set of example YAMLs that demonstrate the use of multiple Tekton components working together. These examples should be complete and runnable so that changes to any one individual component could be easily tested in a cluster alongside the other components.

# Actual Behavior

Right now each project in the tektoncd org has their own sets of tests and exam

[2020-08-10 15:28] bobcatfish opened #504 "Update create-draft-release to pull in release notes"
# Expected Behavior

It would be excellent if [create-draft-release](https://github.com/tektoncd/plumbing/blob/master/tekton/resources/release/github_release.yaml) could pull in the `release-notes` blocks from PR descriptions as well when making a draft.

# Actual Behavior

[create-draft-release](https://github.com/tektoncd/plumbing/blob/master/tekton/resources/release/github_release.yaml) makes i

[2020-08-11 09:56] afrittoli commented on #286
This is not implemented through the prow rebase plugin. Is it ok to close?

[2020-08-11 10:06] afrittoli commented on #380
This is not an issue anymore

[2020-08-11 10:06] afrittoli commented on #380
This is not an issue anymore

[2020-08-11 10:06] #380 closed

[2020-08-11 10:17] vdemeester commented on #286
I think it is :wink:

[2020-08-11 10:17] #286 closed

[2020-08-12 19:17] #79 closed

[2020-08-12 23:20] #138 closed

[2020-08-13 02:22] #75 closed

[2020-08-13 02:22] #103 closed

[2020-08-13 02:22] #95 closed

[2020-08-13 02:22] #158 closed

[2020-08-13 03:23] #157 closed

[2020-08-13 04:24] #171 closed

[2020-08-13 05:24] #180 closed

[2020-08-13 07:46] afrittoli commented on #193
@bobcatfish is this something we still need to fix?

[2020-08-13 07:51] vdemeester commented on #137
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

@bobcatfish I think this is "kinda" done through the boskos tasks in the catalog ?

[2020-08-13 07:52] vdemeester commented on #124
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:53] vdemeester commented on #102
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:55] vdemeester commented on #62
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 07:55] vdemeester commented on #87
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:24] vdemeester commented on #44
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:25] #122 closed

[2020-08-13 08:25] vdemeester commented on #54
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 08:26] vdemeester commented on #58
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 09:26] #210 closed

[2020-08-13 09:26] #179 closed

[2020-08-13 10:27] #223 closed

[2020-08-13 11:28] #206 closed

[2020-08-13 12:29] afrittoli commented on #235
/remove-lifecycle rotten

[2020-08-13 14:17] vdemeester commented on #235
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-13 14:29] #217 closed

[2020-08-13 15:29] #266 closed

[2020-08-13 15:55] bobcatfish commented on #206
I think this was fixed via https://github.com/tektoncd/plumbing/pull/229 anyway!

[2020-08-13 15:57] bobcatfish commented on #223
I think we've got this now anyway: https://github.com/tektoncd/plumbing/tree/master/robocat

[2020-08-13 17:30] #224 closed

[2020-08-13 18:47] bobcatfish commented on #193
@afrittoli yeah, esp. since it looks like we're for sure going to be using boskos in the future. @tomgeorge even has the solution in #225, we just need to verify that it works. I can add this to my todo list!

[2020-08-13 18:57] bobcatfish commented on #176
I'd like to push back on the flakiness retrier: retrying tests that fail hides underlying problems and makes them easier to ignore and harder to fix in the future.

When we have flakey tests I'd rather only retry them in extreme cases, when we're sure we understand why they're failing. Failures can be caused by a) poorly written tests b) actual bugs or c) unavoidable circumstances. c) is the rares

[2020-08-13 18:59] bobcatfish commented on #171
We do have some of this work in progress for our catalog testing:

* [boskos-acquire](https://github.com/tektoncd/catalog/tree/master/task/boskos-acquire)
* [boskos-release](https://github.com/tektoncd/catalog/tree/master/task/boskos-release)
* [gke-cluster-create](https://github.com/tektoncd/catalog/tree/master/task/gke-cluster-create)

More details in https://github.com/tektoncd/catalog/issues/3

[2020-08-13 19:02] bobcatfish commented on #64
Feels like something we should do, if we haven't already?
/remove-lifecycle stale.

[2020-08-13 19:02] bobcatfish commented on #64
dang it

/remove-lifecycle stale

[2020-08-13 19:02] bobcatfish commented on #64
SHOOT

[2020-08-13 19:11] bobcatfish commented on #28
I don't think we've had this problem since! *knock on wood*

We also pulled in boskos updates a while ago that iirc included fixing some resource leaks so that might have done the trick!

[2020-08-13 19:11] #28 closed

[2020-08-13 20:32] #262 closed

[2020-08-13 21:33] #293 closed

[2020-08-13 23:34] #307 closed

[2020-08-14 01:35] #333 closed

[2020-08-14 04:37] #34 closed

[2020-08-14 05:37] #373 closed

[2020-08-14 05:37] #370 closed

[2020-08-14 08:22] vdemeester commented on #282
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 08:22] vdemeester commented on #159
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-14 08:42] afrittoli commented on #386
/remove-lifecycle rotten.

[2020-08-14 08:42] afrittoli commented on #386
/remove-lifecycle rotten

[2020-08-14 08:42] afrittoli commented on #386
/remove-lifecycle stale

[2020-08-14 09:31] vdemeester commented on #387
/reopen
/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-14 09:40] #382 closed

[2020-08-14 09:40] #392 closed

[2020-08-14 10:41] #397 closed

[2020-08-14 12:41] #400 closed

[2020-08-14 14:32] dibyom opened #516 "Triggers and Dashboard Nightly failing on git resource"
# Expected Behavior
Nightlies should pass

# Actual Behavior

The git init step fails:

[code]

# Additional Info
tkn version:

[code]

https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/triggers-release-nightly-28m2c?pipelineTask=unit-tests&step=git-source-source-mshdx

[2020-08-14 14:32] dibyom commented on #516
/kind bug
/assign

[2020-08-14 14:40] afrittoli commented on #206
Indeed!

[2020-08-14 14:41] afrittoli commented on #95
Fixed by https://github.com/tektoncd/plumbing/pull/470

[2020-08-14 14:45] afrittoli commented on #122
This is supported for dashboard too now.
This PR also introduced a wrapper script to trigger the deployment: https://github.com/tektoncd/plumbing/pull/417
Handling this for `ko` deployments is out of scope for this issue.

[2020-08-14 15:09] afrittoli commented on #224
This is fixed now. Nightly releases are deployed to robocat, and the deployment is documented.

[2020-08-14 15:24] bobcatfish commented on #159
/lifecycle frozen

[2020-08-14 15:31] afrittoli commented on #223
Thanks @bobcatfish

[2020-08-14 15:32] afrittoli commented on #392
This has been solved anyways.

[2020-08-14 15:33] afrittoli commented on #181
The log has been missing for a while, this is still an issue.

[2020-08-14 15:36] afrittoli commented on #516
I wonder if this is somehow related to the changes in https://github.com/tektoncd/plumbing/pull/514

[2020-08-14 15:43] dibyom commented on #516
When  I tried to re-run a CronJob, I did see the Trigger failing when it tried to create a PipelineResource that already existed:

[code]

[2020-08-14 18:11] dibyom opened #518 "Invalid logs URL for tektonci jobs"
# Expected Behavior

When I click Details for a failed plumbing check, I see the logs

# Actual Behavior

The logs never load

# Steps to Reproduce the Problem

1. Click on details for the `plumbing-yamllint` or `plumbing-golang-lint` in https://github.com/tektoncd/plumbing/pull/517

# Additional Info

* The URL it tries to go to is http://logs.dogfooding.tekton.dev/?buildid=21d8ef00-de4b-11ea-8f1

[2020-08-14 18:11] dibyom commented on #518
/kind bug

[2020-08-14 18:20] dibyom commented on #518
Interestingly, it works on https://github.com/tektoncd/plumbing/pull/399

[2020-08-14 18:41] dibyom commented on #516
Current Status:

1. I cannot repro this only local cluster
2. I tried re-running the CronJob on dogfooding but cannot due to #519

[2020-08-14 18:45] #405 closed

[2020-08-15 10:49] #477 closed

[2020-08-17 08:49] vdemeester commented on #484
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:49] vdemeester commented on #483
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:49] vdemeester commented on #482
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:49] vdemeester commented on #478
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:49] vdemeester commented on #435
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:50] vdemeester commented on #413
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:50] vdemeester commented on #416
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:50] vdemeester commented on #407
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:50] vdemeester commented on #395
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 16:37] dibyom commented on #516
/close

[2020-08-17 16:37] #516 closed

[2020-08-17 20:39] sbwsg opened #526 "Nightly resources don't appear to be building quite right"
# Expected Behavior

`kustomize build`ing the nightly release yamls works as expected.

# Actual Behavior

At the moment it looks like trying to build the yamls results in invalid TriggerTemplates for pipelines / dashboard / triggers. The `params` field from the `base/template.yaml` are not appearing in the final output.

# Steps to Reproduce the Problem

1. cd into the plumbing repo root director

[2020-08-17 20:42] bobcatfish commented on #411
Unless we solved this already, I think it's still legit! Co-authors deserve credit too :)

/remove-lifecycle rotten

[2020-08-17 20:59] bobcatfish commented on #34
I think we've fully embraced boskos as this point - we even have [catalog tasks](https://github.com/tektoncd/catalog/tree/master/task/boskos-acquire/0.1) for it!

[2020-08-18 04:21] savitaashture commented on #526
@sbwsg I have followed the steps which you have given and when i see TriggerTemplate for triggers-nightly i see `params` exist i don't see any missing field
[code]

[2020-08-18 11:15] sbwsg commented on #526
hm, ok that might just be my computer. what version of kustomize do you have @savitaashture ?

[2020-08-18 12:25] savitaashture commented on #526
kustomize version
[code]

[2020-08-18 13:35] sbwsg commented on #526
I'm not sure what I'm doing wrong but I can't seem to get the right output with the TriggerTemplate's spec.params.  I've made a [gist of my log](https://gist.github.com/sbwsg/6aae097d8c9b9211aaab35ca7b33abda). The short version is this:

[code]

It appears I don't get _any_ `spec.params` section for the TriggerTemplate at all :/

[2020-08-18 13:43] savitaashture commented on #526
Ah i see
Sorry it was my mistake i ran `kustomize build ./tekton/resources/nightly-release > ./nightly-resources.yaml` on bit old plumbing code
and there it created properly

But with latest plumbing code i also see the same behavior i mean no `params` :confused:

[2020-08-18 16:00] #526 closed

[2020-08-19 06:26] gyliu513 opened #530 "[Question] Does PROW and Tekton will work together for CICD in long term"
I found there are already some documents like https://github.com/tektoncd/plumbing/blob/master/docs/prow.md etc can help people to set up PROW + Tekton do the CI work, here my question is: What is the long term plan for PROW and Tekton? As far as I can see, most of the Kubernetes eco-ssystem projects are still using PROW, so not sure what is the future plan for PROW and Tekton, would love to see s

[2020-08-19 14:29] bobcatfish commented on #530
Hey @gyliu513 ! Folks from Prow could probably give the best answer here, e.g. @cjwagner @coryrc

[2020-08-19 15:26] coryrc commented on #530
From Prow's standpoint, we want to provide Tekton first-class support, including integrating it into the existing UI and/or support the Tekton dashboard (which I just discovered). Triggers will probably be the last thing supported.

I'm trying to spearhead Tekton w/ Prow in a few smaller projects. If I'm successful it might come to kubernetes!

[2020-08-19 16:28] dibyom opened #534 "E2E tests failing on Boskos"
The tests are all failing with:

[code]

This error message seems similar to https://github.com/tektoncd/plumbing/issues/186

### Example PR: https://github.com/tektoncd/triggers/pull/720

### Prow dasboard: https://prow.tekton.dev/?job=*integration*&state=failure

[2020-08-19 17:18] dibyom commented on #534
I found https://github.com/kubernetes/test-infra/issues/18897 and https://github.com/kubernetes/test-infra/issues/18897 which seem to be related

[2020-08-19 18:02] coryrc commented on #530
Help is welcome though! :-D

[2020-08-19 18:08] dibyom commented on #534
I'm going to update the boskos image versions to the latest ones

`k -n test-pods port-forward service/boskos 7000:80`

Current metrics:
[code]

[2020-08-19 18:19] dibyom commented on #534
New image + manually enabling serviceusage seems to have helped:

`{"type":"gke-project","current":{"busy":2,"cleaning":12,"free":1},"owner":{"":1,"Janitor":12,"pull-tekton-pipeline-integration-tests":2}}
`

[2020-08-20 13:23] gyliu513 commented on #530
One more question here: What is the value of Tekton bring to PROW?

@sethpeterson

[2020-08-20 15:24] coryrc commented on #530
How do you choose to glue together the components of your pipeline? Bash like Knative? kubetest+bazel+bash like Kubernetes? Both those stacks are getting a lot of redevelopment because they aren't adapting to new needs. Tekton should.

[2020-08-20 17:35] #534 closed

[2020-08-21 03:04] gyliu513 commented on #530
@coryrc thanks, would you show more detail, like some examples fro the `new needs`? This will be very helpful ;-)

[2020-08-21 03:26] jerop commented on #492
/close

[2020-08-21 03:26] #492 closed

[2020-08-26 06:57] gyliu513 opened #546 "Update prow document to clarify it support latest tekton pipeline"
Based on comments here https://github.com/kubernetes/test-infra/issues/13948#issuecomment-549046368 and https://github.com/kubernetes/test-infra/pull/15072 , prow can work with tekton 0.8.0 now.

Seems the document here https://github.com/tektoncd/plumbing/blob/master/docs/prow.md#tekton-pipelines-with-prow also need some update.

![image](https://user-images.githubusercontent.com/4461983/91271228

[2020-08-26 07:01] eddycharly commented on #546
Yep, it supports v1alpha1 only though.

[2020-08-26 07:08] gyliu513 commented on #546
Thanks @eddycharly , but I think we can update the document claim that pipeline version can be 0.8.0?

[2020-08-26 07:10] eddycharly commented on #546
Sure, I just wanted to point out the limitation.

[2020-08-26 07:37] gyliu513 commented on #546
@eddycharly can I say the prow only support pipeline 0.8.0, or also the 0.8.0-, like 0.7, 0.6 etc?

[2020-08-26 07:43] eddycharly commented on #546
From the prow go mod `github.com/tektoncd/pipeline v0.13.1-0.20200625065359-44f22a067b75`, i think it supports pipelines up to v0.13.1.

In https://github.com/kubernetes/test-infra/blob/69851ff05ca3bcd81af04543bd368d4502051917/prow/apis/prowjobs/v1/types.go#L161 : `PipelineRunSpec *pipelinev1alpha1.PipelineRunSpec`.

So i think that saying prow supports pipelines v1alpha1 up to v0.13.1 should be p

[2020-08-26 08:55] vdemeester commented on #546
@gyliu513 thx for the issue. I do agree with @eddycharly, "saying prow supports pipelines v1alpha1 up to v0.13.1 should be pretty close.".

[2020-08-26 09:37] gyliu513 commented on #546
thanks @eddycharly @vdemeester , let me create a PR soon for this.

[2020-08-29 11:28] #546 closed

[2020-09-01 11:05] AlanGreene opened #553 "Dashboard nightly release is failing"
# Expected Behavior
Dashboard nightly release should succeed consistently.

# Actual Behavior
The Dashboard nightly release is failing due to changes in the Dashboard release artifacts:
- `tektoncd/dashboard/overlays/resources/openshift/internal-service.yaml` no longer exists

There have also been updates made to the release pipeline which should be applied to the cluster to ensure `previous` nigh

[2020-09-02 11:58] AlanGreene commented on #553
/kind bug

[2020-09-03 16:22] AlanGreene commented on #553
/area release

[2020-09-04 07:58] sthaha opened #558 "Missing docs in Catlin"
Catlin tool is missing mandatory README / How to docs

/kind bug

[2020-09-04 07:59] sthaha commented on #558
/assign

[2020-09-04 08:05] sthaha opened #559 "Catlin: more unit test coverage"
Catlin currently has only minimal amount of coverage. Hence more unit tests are needed.

Ref: https://github.com/tektoncd/plumbing/pull/555#pullrequestreview-482438278
/kind bug
/assign

[2020-09-04 09:14] #553 closed

[2020-09-04 14:42] sthaha opened #560 "Caltin: validate that images used in task steps are tagged"
Catlin should report `ERROR` when validating tasks.spec.steps.image that is not using a tag or has `latest` version.

/kind feature

[2020-09-04 14:44] sthaha opened #561 "Catlin: show lints in a format that allows easy integration with IDES"
Catlin should show lint in format that allows easy integration with IDEs so that yaml files can be validated as they are created.

/kind bug

[2020-09-07 04:29] SM43 commented on #560
/assign

[2020-09-10 07:17] sthaha opened #565 "Catlin: add catlin validation to tektoncd/catalog PR"
Some of the tasks in tektoncd/catalog doesn't comply with the Re-Org TEP. Let's add catlin to the Catalog CI so that all new submissions pass the `catin` validation.

/kind feature

[2020-09-10 07:20] gyliu513 commented on #530
thanks all for the info here, this really helps!

[2020-09-10 07:20] #530 closed

[2020-09-10 07:47] SM43 commented on #565
/assign

[2020-09-11 15:11] dibyom opened #566 "boskos: boskos crashlooping"
### `tl;dr` We moved Boskos storage from PV to CRDs but did not remove the storage flag. The flag got removed from Boskos and in the next pod restart, we started crashlooping. [More details](https://github.com/tektoncd/plumbing/issues/566#issuecomment-691239089)

From slack:

Integration tests failing with:
[code]

[code]

Logs for boskos pod:

[code]

### Action
Tried redeploying boskos with that

[2020-09-11 17:49] dibyom commented on #566
Fixed by https://github.com/tektoncd/plumbing/pull/567

[2020-09-11 17:49] dibyom commented on #566
/closed

[2020-09-11 17:49] dibyom commented on #566
/close

[2020-09-11 18:02] dibyom commented on #566
Looks like the flag was removed here: https://github.com/kubernetes/test-infra/commit/9e2d6f8e16c917c34722decb19da4525ef17a523

The PR description says:

[2020-09-11 18:08] dibyom commented on #566
Looks like the alternative for PVs is to use CRDs -- which is what we started using since https://github.com/tektoncd/plumbing/pull/234

However while we did start using CRDs instead of a file in a PV, we never removed the storage flag. So, the next time the pod got restarted (which happened to be earlier today), it started crashlooping.

We do have https://github.com/tektoncd/plumbing/issues/193

[2020-09-11 18:44] #566 closed

[2020-09-13 04:21] #335 closed

[2020-09-13 04:21] #355 closed

[2020-09-14 11:35] #560 closed

[2020-09-14 13:30] afrittoli opened #568 "Reduce the cost of running conditions in Tekton CI"
# Expected Behavior
Conditions on CI jobs should use a little resource as possible.
Not using deprecated `Condition` CRD.

# Actual Behavior
We use `Condition` today, we spin up one pod per condition, so two pods per CI pipeline.

# Additional Info
`when` conditionals are now available in pipelines and on the `dogfooding` cluster.

[2020-09-14 13:30] afrittoli commented on #568
Possible solutions:

1. Instead of using one pipeline per CI job, make a big pipeline where we first run tasks that create results required for when expressions
1. Use custom interceptors to build the data required for when expressions, add that to the payload
1. Break the CI event listener into two stages: the initial EL validates the GH secret, does initial filtering based on GitHub events and s

[2020-09-14 13:32] afrittoli commented on #568
/cc @vdemeester @bobcatfish @jerop

[2020-09-15 08:16] chmouel opened #570 "Catlin: Detect if we have different version of an image"
It would be nice if catlin can warn if we have a different version of an image across the catalog, for example if in one task we have :

quay.io/buildah/stable:v1.0.0

and somewhere else we have :

quay.io/buildah/stable:v1.1.0

it should warn that the version are different to make sure this was updated everywhere. probably should just be a warning since there is maybe some use case to allow it...

[2020-09-17 05:00] sm43 opened #573 "Catlin should warn or error if a file has multiple resources"
Currently, If a file has multiple resources then catlin validates the first and
Ignore the others.

Do we wanna allow a resource file to have supporting resources or want to make sure
there is only one Tekton resource?

/kind question

[2020-09-17 05:01] SM43 commented on #573
/assign

[2020-09-17 11:04] #504 closed

[2020-09-21 09:55] vdemeester opened #577 "Update org team from tekton projects OWNERS files"
For each project, maintain the `org` teams. Periobolos is set up to keep those up-to-date based of [`org.yaml`](https://github.com/tektoncd/community/tree/master/org).
The next part is to automate creating PRs on =tektoncd/community= based on repositories OWNERS files whenever they change.

/kind feature

[2020-09-21 10:08] vdemeester opened #578 "Automate TEP OWNERS file updates"
The [TEP `OWNERS`]() file contains the OWNERS of most of the `tektoncd` projects (except `experimental`).
This means currently:
- tektoncd/pipeline
- tektoncd/chains
- tektoncd/catalog
- tektoncd/cli
- tektoncd/dashboard
- tektoncd/hub
- tektoncd/plumbing
- tektoncd/triggers
- tektoncd/operator

This is currently done *manually*. We should have a way to automate the update of this file. If any upd

[2020-09-21 13:40] afrittoli opened #580 "Setup connectivity between infra clusters and Z hardware hosted by IBM"
# Feature

As part of the experimentation for https://github.com/tektoncd/community/pull/212, we need connectivity between Tekton infra cluster(s) and Z hardware on IBM side.

For builds/releases we would need connectivity from the `dogfooding` cluster, for E2E tests if we want to use existing tests we would need connectivity from the `prow` cluster.

# More details
https://github.com/openshift/re

[2020-09-21 14:50] bobcatfish opened #581 "check-pr-has-kind-label blocking PR incorrectly"
# Expected Behavior

check-pr-has-kind-label should only be in a failed state on a PR when the kind label is actually missing

# Actual Behavior

check-pr-has-kind-label blocks PRs even when the kind label has been added

# Steps to Reproduce the Problem

Saw this in https://github.com/tektoncd/pipeline/pull/3264

![image](https://user-images.githubusercontent.com/432502/93782029-0f936300-fbf8-11e

[2020-09-21 22:43] bobcatfish opened #582 "Prow "trigger" plugin not working?"
# Expected Behavior

1. The status of all prow checks on a PR should be accurate
2. It should be possible to re-trigger the running of prow jobs with `/test` and `/retest`

# Actual Behavior

Checks on some PRs are stuck and cannot be triggered with `/test` or `/retest`

I think that they got stuck in a pending state for <some reason> but now that the  `/test` and `/retest` commands are not workin

[2020-09-21 22:51] bobcatfish commented on #582
Also did not work in https://github.com/tektoncd/dashboard/pull/1711

[2020-09-21 22:52] bobcatfish opened #583 "needs-rebase plugin not working"
# Expected Behavior

Prow components are able to use "external plugin" (https://github.com/kubernetes/test-infra/tree/master/prow/plugins#external-plugins) needs-rebase

# Actual Behavior

@afrittoli noticed that components such as hook and plank are full of this error:

[code]

It's not clear if this is causing a problem or not (might be related to #582)

[2020-09-22 06:14] vdemeester commented on #583
/assign

[2020-09-22 06:45] vdemeester commented on #582
Note that `/retest` usually only re-run failed tests — in the case of "blocked" ones, it won't re-run most likely (if they are actually successful but didn't push their status back)

[2020-09-22 08:04] vdemeester commented on #582
[code]

[2020-09-22 08:07] vdemeester commented on #583
https://github.com/tektoncd/plumbing/pull/585 should fix that

[2020-09-22 08:08] vdemeester commented on #583
[code]

Seems like it is working.
/close

[2020-09-22 08:08] #583 closed

[2020-09-22 08:46] vdemeester commented on #582
So few things:
- It is possible to restart a job from `kubectl` (kubectl create -f "https://prow.tekton.dev/rerun?prowjob=3d038d93-fc21-11ea-9847-7e6f0dcb7dc3" for tektoncd/pipeline#3269 that unblocked it)
- If the jobs are completely gone (like on tektoncd/pipeline#3168), I don't see any other way but to force-push or use `/test all`
- `/retest` only retest failed jobs, if you want to *force* re-

[2020-09-22 10:31] vdemeester commented on #582
(I think we can close this issue btw :stuck_out_tongue: )

[2020-09-22 11:53] afrittoli opened #589 "Race conditions on GitHub updates"
# Expected Behavior
Updates of various CI checks are independent

# Actual Behavior
The `tekton-ci-github-check-update` trigger template uses the `PullRequestPipelineResource` which always updates the whole PR resource.
This leads to race conditions between CI checks running in parallel.

# Steps to Reproduce the Problem

See the investigation at the bottom of https://github.com/tektoncd/plumbing/

[2020-09-22 14:02] bobcatfish commented on #582
ah kk!

@vdemeester do you want to keep this open to track the stuck PRs as well or do you prefer to open a new issue for that? (unless we've resolved it?)

[2020-09-22 14:04] vdemeester commented on #582
yeah, I'm fine keeping it opened, but stuck PRs will happen from time to time, we can "relatively" easily manually unblock them (all the pipeline stuck ones are not stuck anymore, …)

[2020-09-24 05:36] #589 closed

[2020-09-24 10:43] vdemeester opened #592 "Multi-architecture build of e2e and plumbing images"
In order to [support multiple architecture](https://github.com/tektoncd/pipeline/issues/856), we need to provide image in multiple
architecture for the projects's end-to-end tests. This also applies to some images built
in plumbing as we may use them on the target clusters (s390x, arm64, …) and/or during
end-to-end tests.

In an ideal world, we would use tekton to build those (aka dogfooding, …).

[2020-09-24 11:49] chmouel opened #593 "Setup a nightly job for tekton catalog"
We would like to avoid running all the tekton catalog tasks but only the PR task.

We would need to setup a nightly job to check that all catalog tasks are still
running, since we may miss some failures that wasn't udpated for some time.

We would need some kind of reporting on Slack in #catalog channel

Related PR from catalog that only checks the changed tasks :

https://github.com/tektoncd/cata

[2020-09-24 11:51] chmouel commented on #593
/cc @vdemeester

[2020-09-28 12:32] barthy1 commented on #495
Plumbing images build issue - https://github.com/tektoncd/plumbing/issues/592

[2020-09-29 12:26] barthy1 commented on #592
Can first versions of the mentioned images be built using the fastest way? I guess it would be github actions. Just to unblock "other arch support" activities..
And some longer but more conceptual approach can be used after.

[2020-09-29 12:33] vdemeester commented on #592
@barthy1 yeah, @afrittoli said the same during our productivity working group :angel:

[2020-10-02 08:38] barthy1 commented on #592
@vdemeester I'd like to suggest the first candidate for multi-arch build here is `gcr.io/tekton-nightly/github.com/tektoncd/pipeline/build-base:latest`, as it's used in [.ko.yaml ](https://github.com/tektoncd/pipeline/blob/master/.ko.yaml) for pipeline, and required to be mluti-arch to use `--platform=all` option. At this moment it is built by [gcr.io/kaniko-project/executor:v0.17.1](https://githu

[2020-10-02 08:40] barthy1 commented on #592
One more idea, for future extensions. We can use Tekton task to start Github action - https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows#workflow_dispatch :)

[2020-10-02 11:01] afrittoli opened #598 "Fix peribolos webhook"
# Expected Behavior
The webhook used by periobolos is configured to `webhook.periobolos.dogfooding.tekton.dev`.

# Actual Behavior
The event listener is set to `LoadBalancer` mode.
The public IP from the service is not configured as webhook in the commity repo, so no updates happen.

# Additional Info

1. Change the [service type](https://github.com/tektoncd/plumbing/blob/master/tekton/resources/o

[2020-10-02 11:01] afrittoli commented on #598
/cc @vdemeester

[2020-10-02 16:21] dibyom commented on #598
I think https://github.com/tektoncd/catalog/pull/243 does that.

[2020-10-05 11:09] vinamra28 opened #602 "Catlin: Shows Warning when using Tag+Digest with the Image"
# Expected Behavior

Catlin should be able to validate the Tekton manifest having image as
[code]

# Actual Behavior

When running catlin validate on a Tekton manifest having the image as
[code]
we get a warning
[code]

# Steps to Reproduce the Problem

1. Create a Tekton Task
2. While specifying the image to be used add `tag+digest` for it as specified above
3. Run `catlin validate` on that file

[2020-10-05 14:08] #593 closed

[2020-10-06 14:18] GregDritschler opened #604 "Handle new experimental task-loops folder"
# Expected Behavior

Plumbing handles pull requests for the new experimental task-loops folder.

# Actual Behavior

tbd

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2020-10-06 14:19] GregDritschler commented on #604
@afrittoli Here is the issue you requested to be opened for the new experimental task loops folder.

[2020-10-08 13:26] chmouel commented on #592
Is there any cloud provider we could have access to ? (IBM, Google or others), where we can just spin up a VM there, inject our build script from a tekton task and get back the multi arch build ?

I understand that Github may seem easy to implement but I think we have the opportunity to show that tekton can be the right CI tool for this kind of workflow and not having to leverage another CI provid

[2020-10-08 17:29] danielhelfand opened #608 "Tag gcr.io/tekton-releases/dogfooding/tkn with tkn Release Versions"
# Expected Behavior

The `gcr.io/tekton-releases/dogfooding/tkn` image should have tags for each released version of `tkn`.

# Actual Behavior

The image only supports the latest version.

# Steps to Reproduce the Problem

1. Run `docker run -it gcr.io/tekton-releases/dogfooding/tkn:v0.12.0`
2. See error for unavailable image/tag

# Additional Info

This would allow users to more easily use specif

[2020-10-12 12:35] afrittoli commented on #484
This was fixed as part of https://github.com/tektoncd/plumbing/pull/513

[2020-10-12 12:35] #484 closed

[2020-10-12 12:35] afrittoli commented on #482
/lifecycle frozen

[2020-10-12 12:36] afrittoli commented on #482
I added a new custom interceptor that adds the required info to the payloads of events, but it is not used yet for CI jobs.

[2020-10-12 12:43] afrittoli commented on #159
As a first step, we shall maintain job definitions in the `tektoncd/plumbing` repo, similar to what we do today with prow.
Ultimately it would be nice move the definition to the respective repos, i.e. pipeline tests in `tektoncd/pipeline`.

[2020-10-12 12:55] afrittoli commented on #581
I see quite a few failures for this job. That might be normal, since PRs are always created without label first, however the logs does not help very much:
[code]

Logs for a failed one:
[code]

So the first step here would be to improve on the task logging, so we know what the cause of the failure is.

[2020-10-12 13:14] vdemeester commented on #581
We install pyaml at each run ? :thinking:

[2020-10-12 16:17] vdemeester commented on #581
Yeah we should definitely create it, it would speed the task *and* reduce network calls on pypi.

[2020-10-13 12:56] SM43 commented on #602
/assign

[2020-10-15 02:14] popcor255 opened #612 "Run Tests for Tektoncd Website Repo"
# Expected Behavior

It would be nice to be able to add tests to the [tektoncd website](https://github.com/tektoncd/website).

# Actual Behavior

The current ci/cd system for tekton does run tests for this repo.

[2020-10-15 15:00] popcor255 commented on #612
/assign @afrittoli

[2020-10-19 03:47] PuneetPunamiya opened #614 "Catlin: Recommendation of tags and categories for the task submitted"
# Expected Behavior

- As [Catalog](https://github.com/tektoncd/catalog) tasks have tags, it would be nicer if `Catlin` recommends the new submitted task to have tags and categories from the list i.e. [config.yaml](https://github.com/tektoncd/hub/blob/master/config.yaml)  and if there are any new tags or categories, one can raise a pull request to [Hub](https://github.com/tektoncd/hub) and add tag

[2020-10-19 07:36] #602 closed

[2020-10-19 07:45] vdemeester commented on #614
/kind feature

[2020-10-19 19:41] jerop commented on #165
I've seen this happening again - [slack post](https://tektoncd.slack.com/archives/CJ4ERJWAU/p1603136070049000) - so will reopen

/remove-lifecycle rotten
/reopen

[2020-10-21 14:49] popcor255 commented on #612
/assign

[2020-10-27 22:51] wlynch opened #624 "Nightly releases not pulling in latest yaml configs from repo"
# Expected Behavior

Commits to project tekton folders that modify resources get applied before nightly pipelines run.

# Actual Behavior

Nightly pipeline uses old tekton/publish.yaml resource (https://gist.github.com/wlynch/c673aad7cf038d559ab62ae65bc04068), which breaks the nightly build. In this case,

[code]

is included in the image, causing the validation to fail.

[PipelineRun](https://das

[2020-10-28 07:56] vdemeester commented on #624
That's my fault, I had to re-vert the task on the cluster to do the `v0.17.2` release and did not re-apply it right after.
This should be fixed now.

[2020-11-02 10:45] afrittoli opened #626 "Multiline comment break the `/test [ci-job-name]` command for Tekton based jobs"
# Expected Behavior
I can enter a multi-line comment in GitHub that includes `/test [ci-job-name]` by itself on one line

# Actual Behavior
Multi-line comment breaks the logic of the check condition:

[code]

# Steps to Reproduce the Problem

1. Leave a multi-line comment on an issue that includes `/test`
2. Observe the condition logs
3. https://dashboard.dogfooding.tekton.dev/#/namespaces/tektonc

[2020-11-02 10:46] afrittoli commented on #626
/kind bug

[2020-11-05 18:41] vdemeester commented on #502
/remove-lifecycle stale

[2020-11-05 23:24] #612 closed

[2020-11-06 14:41] imjasonh opened #631 "Support e2e testing with kind"
### Feature request

Currently e2e tests [create a regional GKE cluster using kubetest](https://github.com/tektoncd/plumbing/blob/b086b5c7ad03e01520aa166b3f1a97fd643ceb54/scripts/e2e-tests.sh#L251-L256) -- this takes a few minutes to set up, and can cost money if resources leak. Requiring a GCP account and billing might present a barrier to some contributors. We also lose some control over the ver

[2020-11-06 14:45] mattmoor commented on #631
I am in fact running the Tekton tests in KinD.  Last night I pulled the setup into a script, which I'll probably move into `knative.dev/hack`: https://github.com/mattmoor/mink/blob/master/hack/setup-kind.sh

I highlight this because I want to centralize our KinD setup so that we can codify all kinds of best practices and cluster oddities (like randomizing `.svc.cluster.local`, or eventually dual s

[2020-11-06 14:55] mattmoor commented on #631
I realized that some of the things I added last night (like metallb, kudos to @benmoss) might be useful for tektoncd/triggers.

[2020-11-09 10:01] vdemeester commented on #402
/remove-lifecycle stale

[2020-11-09 10:01] vdemeester commented on #288
/remove-lifecycle stale

[2020-11-11 07:20] yaoxiaoqi commented on #631
Hi Andrea @afrittoli , are you working on this currently? I would like to know if there's anything I can do to help.

[2020-11-11 15:41] bobcatfish commented on #137
@vdemeester i agree we could use the boskos Task for this! seems fine to me to close :D

[2020-11-11 15:41] #137 closed

[2020-11-11 15:41] bobcatfish commented on #137
That's https://github.com/tektoncd/catalog/tree/master/task/boskos-acquire/0.1 for context

[2020-11-12 09:44] vdemeester commented on #282
/remove-lifecycle stale

[2020-11-12 09:51] vdemeester commented on #124
/remove-lifecycle stale

[2020-11-12 09:51] vdemeester commented on #102
/remove-lifecycle stale
/cc @chmouel @afrittoli

[2020-11-12 09:52] vdemeester commented on #62
/remove-lifecycle stale

[2020-11-12 09:52] vdemeester commented on #87
/remove-lifecycle stale

[2020-11-12 09:53] vdemeester commented on #58
/remove-lifecycle stale

[2020-11-12 10:04] vdemeester commented on #44
/remove-lifecycle stale

[2020-11-12 10:05] vdemeester commented on #54
/remove-lifecycle stale

[2020-11-12 10:06] vdemeester commented on #235
/remove-lifecycle stale

[2020-11-12 11:13] vdemeester commented on #387
/remove-lifecycle stale

[2020-11-12 14:42] bobcatfish commented on #235
I'm gonna tentatively assign this to myself, since i'm looking into https://github.com/tektoncd/pipeline/issues/540 theoretically ill at least look into setting up some monitoring for performance testing, maybe!

/assign

[2020-11-12 16:37] afrittoli opened #636 "Support tekton cross-project integration testing"
### Feature request

Verify that version N of tekton/X works in an interval of versions of project tekton/Y

### Use case

We would like to make it easy for Tekton users to pick a set of version of Tekton projects (pipeline, triggers, dashboard, cli) that work well together. This can benefit from #631 too. Results could be published in a compatibility matrix to be published on https://github.com/t

[2020-11-13 06:27] vdemeester commented on #518
/remove-lifecycle stale

[2020-11-16 07:40] vdemeester commented on #411
/remove-lifecycle stale

[2020-11-16 07:54] vdemeester commented on #413
/remove-lifecycle stale

[2020-11-16 07:54] vdemeester commented on #407
/remove-lifecycle stale

[2020-11-17 14:50] mattmoor commented on #631
cc @chizhg did some work to support this on Prow

[2020-11-27 12:03] afrittoli opened #649 "kubectl image build fails on git-init"
# Expected Behavior

The image build task can clone the git repo

# Actual Behavior

It fails on missing credentials:
https://dashboard.dogfooding.tekton.dev/#/namespaces/default/taskruns/build-and-push-kubectl-b6skh?step=git-source-source-pqzch&view=logs

# Steps to Reproduce the Problem

1. I'm able to reproduce the issue locally by running:
[code]

# Additional Info

All other image builds are

[2020-11-27 18:18] #649 closed

[2020-12-03 14:47] afrittoli opened #653 "Create a flaky test reproducer pipeline"
### Feature request

Create a flaky test reproducer pipeline. A pipeline that can be executed either locally or in the infra cluster to help reproduce flaky tests.

### Use case

Some of the issues that we have marked as flaky do not reproduce on local cluster.
This may be because of race condition that only trigger under special load conditions.

A pipeline deployed in the infra cluster could hel

[2020-12-03 15:56] chmouel commented on #561
remove-lifecycle stale

On Thu, Dec 3, 2020 at 4:30 PM tekton-robot <notifications@github.com>
wrote:

[2020-12-03 16:37] vdemeester commented on #561
/remove-lifecycle stale
/lifecycle frozen

[2020-12-07 12:44] afrittoli commented on #387
A nice solution would be to use something like this https://gardener.cloud/documentation/concepts/networking/dns_controler_manager/ - if only it supported netlify.

[2020-12-09 13:45] bobcatfish commented on #283
automation for these tests is still important

/remove-lifecycle rotten
/remove-lifecycle stale

[2020-12-09 15:25] afrittoli opened #661 "Nightly container image build fails with "cannot connect to docker deamon""
# Expected Behavior

Nightly image builds are always successful

# Actual Behavior

They sometimes fail:
[code]

[2020-12-09 17:17] jerop opened #662 "create-draft-release task does not populate the draft release with release notes"
# Expected Behavior

When [the draft release task](https://github.com/tektoncd/plumbing/blob/master/tekton/resources/release/github_release.yaml) is run, the generated draft release is populated with release notes

# Actual Behavior

When [the draft release task](https://github.com/tektoncd/plumbing/blob/master/tekton/resources/release/github_release.yaml) is run, the generated draft release does

[2020-12-09 17:22] vdemeester commented on #662
/assign @afrittoli

[2020-12-14 09:58] chmouel commented on #58
/remove-lifecycle stale

[2020-12-14 22:00] bobcatfish commented on #568
I believe we want to do this for sure, just haven't gotten a chance yet

/remove-lifecycle stale

[2020-12-15 18:38] afrittoli opened #664 "Produce nightly builds of custom interceptors"
### Feature request

Produce nightly builds of custom interceptors

### Use case

Today custom interceptors are installed using `ko` on demand.
We should use `ko` to build nightly releases - using the nightly releases account - so that custom interceptor may be installed with a specific version and with no need to build them from scratch.

[2020-12-16 22:02] bobcatfish commented on #416
Fixed in https://github.com/tektoncd/plumbing/pull/611

[2020-12-16 22:02] #416 closed

[2020-12-31 20:23] ibexmonj commented on #608
would be interesting in using images with tags as well. Any update on this issue ?

[2021-01-04 17:06] vdemeester commented on #577
cc @afrittoli

[2021-01-04 17:06] vdemeester commented on #578
cc @afrittoli

[2021-01-04 17:06] vdemeester commented on #580
/remove-lifecycle stale
/lifecycle frozen

[2021-01-04 17:07] vdemeester commented on #495
/remove-lifecycle stale
/lifecycle frozen

[2021-01-18 14:07] chmouel opened #680 "tektoncd/plumbing: setup running the tests on each PR"
### Feature request

There is quite a lot of tests in different components in tektoncd/plumbing :

![image](https://user-images.githubusercontent.com/98980/104925196-ce8d3e80-599e-11eb-8fb9-8ba07e3f1083.png)

but they don't seem to be running on PR validating changes we are making there.

### Use case

Make the world a better a place starting with tektoncd/plumbing

[2021-01-18 17:44] vdemeester opened #681 "Migrate default branch from master to main"
Last year, we talked a little bit about renaming the master branch to main for all the
tektoncd projects. So far, we change the organization settings to make all new repository
use `main` as default branch. The only two repository that are using `main` as default
branch are tektoncd/results and tektoncd/operator.

As promised last year, GitHub has delivered a feature to rename the master branch to

[2021-01-20 12:25] savitaashture opened #685 "Missed to list some PRs while running create-draft-triggers-release"
**Issue:** Failed to list PR while running create-draft-triggers-release

Missed to add this PR https://github.com/tektoncd/triggers/pull/842 when ran [create-draft-triggers-release](https://github.com/tektoncd/triggers/blob/master/tekton/create-draft-triggers-release.yaml) while creating `v0.11.0` triggers release.

More Info: [slack discussion](https://tektoncd.slack.com/archives/CKUSJ2A5D/p1610

[2021-01-25 18:58] wlynch opened #693 "Nightly Release Pipelines Broken"
Nightly release pipelines are broken for pipeline, triggers, and dashboard. Last successful run for pipelines was [2021/1/19](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/pipelineruns/pipeline-release-nightly-pdmfv?pipelineTask=unit-tests&step=unit-test)

Problem looks to be focused in the EventListener - looks like RBAC / issue with the triggers installation. Log sample:

[code]

[2021-01-26 09:01] chmouel opened #698 "CI is failing on yamllint"
# Expected Behavior

# Actual Behavior

CI is bailing out with an error that looks like this :

[code]

Full log of the PR

https://dashboard.dogfooding.tekton.dev/#/namespaces/tektonci/pipelineruns/tekton-yamllint-l88rx?pipelineTask=lint&step=lint

# Steps to Reproduce the Problem

Send a PR and see the log of the failure

/kind bug

[2021-01-26 16:14] bobcatfish commented on #681
Thanks for taking on this important work @vdemeester !!!!

![image](https://user-images.githubusercontent.com/432502/105871717-9782e280-5fc7-11eb-9e6d-7a381497c1a4.png)

[2021-01-26 18:13] wlynch opened #701 "CI unable to post status back to GitHub"
# Expected Behavior

Tekton CI posts status back to GitHub consistently.

# Actual Behavior

Status stuck on `pending` state.

# Steps to Reproduce the Problem

1. Attempt to Label/relabel/retest tests in https://github.com/tektoncd/plumbing/pull/700
2. Jobs get set to `pending`, but never update to completed.

# Additional Info

Dogfooding cluster

- Kubernetes version:

  **Output of `kubectl ve

[2021-02-01 08:30] chmouel opened #704 "Add a trigger to pickup catalog tasks version bump and show a diff between"
### Feature request

On catalog when we do a version bump of a task, we simply 👍🏽

`cp -a 0.1 0.2`

and add our changes in the 0.2 directory

When submitting on PR it is pretty hard for the reviewers to do the review of the changes since everything is seen as a new file.

It would be great if a plumbing triggers can pick up a catalog PR and :

* Detect if there is a new task added, by matching the

[2021-02-03 09:26] vinamra28 commented on #704
/assign

[2021-02-03 16:39] vdemeester commented on #604
@afrittoli what is the status here ?

[2021-02-04 11:26] vdemeester commented on #626
/lifecycle frozen
We need to handle that case

[2021-02-04 11:49] afrittoli commented on #626
We do! Honestly, I'd love to have a `CELRun` based solution and remove that condition for good :)

[2021-02-04 18:43] bobcatfish commented on #582
i dont think we've seen this happen for a loooong while

[2021-02-04 18:43] #582 closed

[2021-02-08 13:05] PuneetPunamiya opened #715 "Catlin: Catlin does not validates all the resources passed as an argument in the command"
# Expected Behavior

Catlin should validate all the resources passed as an argument in the command

# Actual Behavior

Currently Catlin validates only the first resource in the argument and ignores the remaining resources and not validates them

For e.g.
[code]

In the above example as we can see Catlin does not validates the second resource

[2021-02-08 13:06] PuneetPunamiya commented on #715
/assign

[2021-02-08 13:13] PuneetPunamiya opened #716 "Catlin: Catlin does not validates the resource even if the folder is passed in the command"
# Expected Behavior

Catlin should validate the resource even if the folder is passed in the command

# Actual Behavior

Currently Catlin only supports file validation for a resource and not the folder structure

For e.g.

[code]

In the above example Catlin gives an error and not finds the resource file and hence does not validates the resource.
Hence Catlin should validate the resource even if f

[2021-02-08 13:13] PuneetPunamiya commented on #716
/assign

[2021-02-10 11:44] vdemeester commented on #282
/lifecycle frozen
I think this is still needed right ? (cc @bobcatfish @afrittoli )

[2021-02-10 15:04] afrittoli commented on #701
Thanks for this report. I've done some improvements to the `check-pr-has-kind-label` job, but it was not enough to solve the issue. I'll keep digging.

[2021-02-10 15:29] afrittoli commented on #701
https://github.com/tektoncd/plumbing/pull/720

[2021-02-10 15:30] afrittoli commented on #698
This is caused by a change in the name of the `buildbot` folder - could you rebase your PR 🙏  It will work then.

[2021-02-10 15:30] #698 closed

[2021-02-10 15:31] afrittoli commented on #693
The issue above is fixed now, thanks @wlynch , closing

[2021-02-10 15:31] #693 closed

[2021-02-10 15:33] afrittoli commented on #577
/remove-lifecycle rotten we still need this automation

[2021-02-11 05:51] vinamra28 commented on #715
/unassign @PuneetPunamiya
/assign

[2021-02-11 05:51] vinamra28 commented on #715
I guess it's a feature and not a bug :sweat_smile:
/kind feature

[2021-02-11 05:52] vinamra28 commented on #716
/unassign @PuneetPunamiya
/assign
Same I guess it's a feature :sweat_smile:
/kind feature

[2021-02-11 05:53] vinamra28 commented on #716
/remove bug

[2021-02-11 05:55] vinamra28 commented on #716
/remove-kind bug

[2021-02-11 05:55] vinamra28 commented on #715
/remove-kind bug

[2021-02-11 11:48] afrittoli commented on #701
I enabled debug logging for the tekton pipeline controller and the trigger event listeners on the dogfooding cluster, so that I can trace cloud events produced and received to help troubleshoot.
The `check-pr-has-kind-label` check is pending on PR #721:

[code]

Looking for related taskruns:

[code]

The taskrun for the initial status update is there `check-pr-has-kind-label-pr-pending-dccsj` but

[2021-02-11 13:43] vinamra28 opened #722 "Catlin: validate command gives warning when tagging the image as docker.io/cytopia/black:latest-0.2@sha256:abcdef"
# Expected Behavior

Catlin should not be giving any warning when executing the command `catlin validate` on [black](https://github.com/tektoncd/catalog/blob/master/task/black/0.1/black.yaml) Task present in catalog.

# Actual Behavior

When running the following command
[code]
gives me the following warning
[code]

# Steps to Reproduce the Problem

1. Clone the catalog or copy the task manifest o

[2021-02-11 21:20] afrittoli commented on #701
https://cloudlogging.app.goo.gl/x3u4X4q6kEGzQtC48

[2021-02-11 21:51] afrittoli commented on #701
I think I found something interesting, from the core interceptors service:
[code]

[2021-02-12 20:57] dibyom commented on #701
ok, so that error is coming from https://github.com/tektoncd/triggers/blob/master/pkg/interceptors/server/server.go#L115

[2021-02-12 21:03] dibyom commented on #701
Other ideas:

1. Use a lister for secret
2. Add some request tracing using prometheus

[2021-02-12 21:45] dibyom commented on #701
one thing I found: the last time this message occurred was Feb 9:

2021-02-09 10:08:22.337 EST{caller: server/server.go:55, level: info, msg: HTTP 500 - failed to read body: read tcp 10.56.5.183:8082->10.56.5.221:33984: i/o timeout, ts: 1612883302.0341792}

So, if we had this issue in the last couple of days, this io timeout may not be the issue (it's something we should fix nonetheless)

[2021-02-13 11:18] afrittoli commented on #701
The pipeline controller logs a k8s event when it fails to send a cloud event, and keeps happening.
I can check the logs of events in the GKE cloud console and filter by '500: '. I wanted to create a metric from it but I don't have enough permissions.  So I exported the filtered event logs from the cloud console, and counted events per hours:

![500](https://user-images.githubusercontent.com/220560

[2021-02-15 15:00] PuneetPunamiya commented on #722
/assign

[2021-02-16 11:29] #715 closed

[2021-02-16 11:29] #716 closed

[2021-02-16 22:27] pritidesai commented on #165
/remove-lifecycle rotten

This is still not fixed, noticed in a recent PR https://github.com/tektoncd/pipeline/pull/3700#issuecomment-773616760

PR #3700 is updating four files but includes coverage report for just one file (`pkg/workspace/apply.go`):

1. `task_types.go`
2. `workspace_types.go`
3. `pkg/reconciler/taskrun/resources/apply.go`
4. `pkg/workspace/apply.go`

[2021-02-18 22:17] afrittoli commented on #701
The last long entry with "500: " on cloud event delivery is from `2021-02-17 14:59:52.000 GMT`.
I'll wait some more time to see if the issue shows up again, otherwise I would close it.
@dibyom could you document any change you made here?

[2021-02-19 18:59] dibyom commented on #701
I have not made any changes so far. But I'll add some timeouts as well as switch to a secret lister to see if it helps

[2021-02-25 09:25] afrittoli commented on #624
/remove-lifecycle rotten

[2021-02-25 09:28] afrittoli commented on #624
This has been fixed by https://github.com/tektoncd/plumbing/pull/714.
Now tekton resources for pipeline, triggers and dashboard are installed nightly.

[2021-02-25 09:28] #624 closed

[2021-03-07 15:36] afrittoli commented on #387
/remove-lifecycle stale this is in fact now solved

[2021-03-07 15:37] afrittoli commented on #387
https://github.com/tektoncd/plumbing/pull/729

[2021-03-07 15:37] #387 closed

[2021-03-09 15:11] bobcatfish commented on #193
feels like something we should do but if it's not important enough then maybe it's not worth it

[2021-03-09 15:50] vdemeester commented on #283
/cc @afrittoli Is it done now ?

[2021-03-12 14:11] afrittoli opened #778 "Automatically publish an announcement on release"
### Feature request

Automatically publish an announcement on release to the #announcements channel on slack

[2021-03-16 16:05] vinamra28 commented on #722
closed in #727
/close

[2021-03-16 16:05] #722 closed

[2021-03-29 11:25] afrittoli opened #794 "Consume Tasks and Pipelines from OCI bundles"
### Feature request

The Tekton based CD defined in the plumbing repo relies on several tasks and pipelines, some of which are from the Tekton catalog, some hosted locally. We should pull those tasks and pipelines from OCI bundles instead of the cluster as done today.

### Use case

* Versioning: using OCI bundles allows to refer to a specific version of a task or pipeline.
* Deployment (CD): usin

[2021-03-29 14:14] vdemeester commented on #794
Note that right now, a bundle cannot "hold" more than 10 resources/tasks 👼🏼
So we may want to publish one bundle per tasks 🤔

[2021-04-01 15:24] vdemeester commented on #608
/remove-lifecycle stale
I think there is another issue around this (official image for `tkn`) in `tektoncd/cli`, but in any case, this is still something we should aim for.

[2021-04-13 19:53] sorensonpragmatics opened #810 "Prow presets for tekton jobs similiar to pod presets for kubernetes prow jobs."
### Feature request

When defining kubernetes prow jobs you can use labels to add aspect oriented info to the kubernetes job to include setting envs, mounting k8s secrets, and mounting volumes. https://github.com/kubernetes/test-infra/blob/master/prow/jobs.md#presets . This is very useful when setting up your cicd prow config. We are currently using a go program to generate a prow config and repli

[2021-05-04 09:49] vdemeester commented on #704
/remove-lifecycle stale

[2021-05-07 00:40] #176 closed

[2021-05-07 00:40] #64 closed

[2021-05-07 01:40] #277 closed

[2021-05-07 03:40] #386 closed

[2021-05-07 03:40] #124 closed

[2021-05-07 04:40] #87 closed

[2021-05-07 04:40] #181 closed

[2021-05-07 05:40] #478 closed

[2021-05-07 05:40] #435 closed

[2021-05-07 06:40] #395 closed

[2021-05-07 07:59] vdemeester commented on #58
/reopen
/lifecycle frozen
I still want for project to be able to release in an automated way 👼🏼

[2021-05-07 08:00] vdemeester commented on #62
/reopen
/lifecycle frozen
We should tackle this still

[2021-05-07 08:40] #558 closed

[2021-05-07 08:40] #559 closed

[2021-05-07 08:40] #565 closed

[2021-05-07 09:40] #570 closed

[2021-05-07 09:40] #573 closed

[2021-05-07 11:40] #598 closed

[2021-05-07 11:40] #604 closed

[2021-05-07 12:07] vdemeester commented on #578
/reopen
/lifecycle frozen

[2021-05-07 12:40] #581 closed

[2021-05-07 14:02] jerop commented on #58
/assign

[2021-05-07 16:40] #502 closed

[2021-05-07 16:40] #402 closed

[2021-05-07 16:40] #288 closed

[2021-05-07 17:40] #193 closed

[2021-05-07 18:40] #102 closed

[2021-05-07 18:44] afrittoli commented on #102
/reopen this is still very much needed

[2021-05-07 20:40] #518 closed

[2021-05-07 20:40] #636 closed

[2021-05-07 21:40] #407 closed

[2021-05-07 22:40] #631 closed

[2021-05-08 00:40] #653 closed

[2021-05-08 19:40] #662 closed

[2021-05-13 23:57] jerop commented on #568
/lifecycle frozen

we still want to do this as we've deprecated conditions

[2021-05-18 17:08] sbwsg opened #840 "Measurements of resource injection overheads"
### Feature request

Instrument the dogfooding cluster(s) so that we can start measuring and assessing potential impact of https://github.com/tektoncd/pipeline/issues/3305.

### Use case

From the Pipeline issue mentioned above:

It would be great to start collecting some data to calibrate our understanding of the time and resource costs involved when relying on external services during reconciles

[2021-05-26 06:02] nikhil-thomas commented on #664
@afrittoli is this issue still valid

[2021-06-03 19:20] #235 closed

[2021-06-03 19:52] bobcatfish commented on #413
oh i didnt know this was closed! since it's [on the roadmap](https://github.com/tektoncd/plumbing/blob/main/roadmap.md) i'd like to keep it open

/lifecycle frozen

[2021-06-14 20:55] dprotaso opened #853 "Introduce automation to the hub api"
Surfacing https://github.com/tektoncd/hub/issues/188 here since it looks like it still not being updated automatically

[2021-06-15 08:09] vdemeester commented on #853
Note that we should try to setup these automation on all the project 🙃

[2021-06-15 08:20] afrittoli commented on #853
Pipeline, triggers and dashboard and deployed nightly automatically to robocat.
They are installed on-demand to dogfooding, but their deployment is fully automated.
For hub and results we need to automated the deployment, set-up nightly builds and bring them up to speed with the rest :)

[2021-06-17 15:24] #680 closed

[2021-06-18 10:20] afrittoli opened #856 "Nightly builds are broken"
# Expected Behavior

Nightly builds are working

# Actual Behavior

The publish image task fails.

# Additional Info

This is caused by a wrong `cp` command that has been used in all publish tasks:
- https://github.com/tektoncd/plumbing/blob/6612e2680bcc758fcbed46c3a2a6cc8c87631ab9/tekton/ci/interceptors/add-pr-body/tekton/publish.yaml#L99
- https://github.com/tektoncd/plumbing/blob/6612e2680bcc75

[2021-06-19 14:28] #685 closed

[2021-06-21 15:23] #856 closed

[2021-06-25 06:32] #664 closed

[2021-07-15 15:40] bobcatfish opened #865 "Transfer GCP projects ownership entirely to CDF and Tekton"
### Feature request

When we first setup test infrastructure for Tekton, Google employees created [GCP projects](https://github.com/tektoncd/plumbing/blob/main/docs/README.md#gcp-projects) (projects for the test infrastructure, projects to run test clusters on and projects for storing container images, etc.). However, the way these were created meant that they are subject to Google specific restri

[2021-07-20 21:14] dibyom opened #867 "el-pipeline-release-post-processing has invalid SA"
# Expected Behavior
`pipeline-release-post-processing` EL in namespace tekton-nightly should be healthy

# Actual Behavior

Does not start up since SA is missing: `pods "el-pipeline-release-post-processing-7f4f76db96-" is forbidden: error looking up service account tekton-nightly/release-right-meow: serviceaccount "release-right-meow" not found`

(The SA does exist in the default namespace, but no

[2021-08-27 19:05] wlynch opened #880 "results.dogfooding.tekton.dev SSL Cert expired"
The cert for results.dogfooding.tekton.dev is expired, so gRPC clients are rejecting connections -

[code]

Not sure why cert-manager didn't automatically rotate this (though admittedly I'm not familiar with how this works). Opening this to track.

Ingress config can be found here - https://github.com/tektoncd/plumbing/blob/main/tekton/cd/results/overlays/dogfooding/ingress.yaml

@vdemeester - it

[2021-08-30 15:16] #880 closed

[2021-09-02 17:38] sbwsg opened #884 "Start signing all of our releases (all projects, full and nightly)"
### Feature request

Tekton Chains is running in our dogfooding cluster and currently signing pipelines releases. We should add signing for our other releases as well. Since they share the same or very similar publish tasks we should be able to replicate the needed changes across them all.

Here's the IMAGES field we added for pipelines, which is then picked up by chains to perform the signing: ht

[2021-09-02 17:46] sbwsg opened #885 "Migrate Tekton based CI to Workspaces"
### Feature request

We have a [ci-workspace](https://github.com/tektoncd/plumbing/tree/main/tekton/ci-workspace) folder for to migrate jobs from the [ci](https://github.com/tektoncd/plumbing/tree/main/tekton/ci) folder. As part of this process we should remove use of Conditions and PipelineResources, moving instead to When Expressions and Workspaces.

Here's [a good example of migrating yamllint]

[2021-09-02 18:00] sbwsg commented on #840
I'm going to close this one on the basis that the refactoring in https://github.com/tektoncd/pipeline/issues/3305 is moving ahead as part of [pipelines' initial remote resolution explorations](https://github.com/tektoncd/pipeline/pull/4168).  We'll figure out how to gather data and draw needed comparisons as part of the experimental controller work rather than tackling this in plumbing I think.

[2021-09-02 18:00] #840 closed

[2021-09-02 18:12] sbwsg opened #886 "Introduce a reusable Kind pipeline / task for testing"
### Feature request

Over in the Tekton Results project, @wlynch has introduced Kind as part of e2e testing. The [task definition is here](https://github.com/tektoncd/results/blob/main/test/e2e/tekton/task.yaml) and the [runner script is here](https://github.com/tektoncd/results/blob/main/test/e2e/e2e.sh).

It could be really useful to apply Kind to our testing more broadly. For example, we could

[2021-09-02 18:21] sbwsg opened #887 "Migrate our Tekton CD folder away from PipelineResources"
### Feature request

The Tasks and Pipelines we currently have in our [`cd`](https://github.com/tektoncd/plumbing/tree/main/tekton/cd) directory utilize Cluster PipelineResources because they provide a way to include cluster secrets that won't expose them in logs.

This issue is to capture work to move away from PipelineResources in the resources from that directory. The current best alternative t

[2021-09-02 18:34] sbwsg opened #888 "Improve reliability of the check-pr-has-kind-label job"
### Expected Behaviour

The `check-pr-has-kind-label` job should consistently report the correct state of kind labels on any given PR.

### Actual Behaviour

This check can sometimes get confused - it will run on one update but not others, or will check an older "version" of the PR and incorrectly determine that no kind label has been applied.

### More Information

The `check-pr-has-kind-label` j

[2021-10-13 12:50] afrittoli opened #902 "Trigger Cronjobs on dogfooding from GitHub/Slack"
### Feature request

It would be nice to be able to trigger periodic jobs (implemented as K8s `CronJobs`) via some UI like GitHub or Slack without the need of having access to the `dogfooding` cluster.
It should be limited to authorised individuals. We could use `peribolos` managed GitHub team to define who's authorised.

### Use case

Reduce the need for direct access to the `dogfooding` cluster

[2021-10-13 21:21] bobcatfish opened #903 "Prow commenter plugin failing 🥀"
# Expected Behavior

Issues in tekton repos should be automatically marked as stale, then rotten, then closed when they are inactive. This is accomplished with the `commenter` prow plugin.

# Actual Behavior

The prow jobs aren't working and haven't been for a while - you can see many rotten issues that haven't been closed across the tekton repos, etc.

For example:

https://tekton-releases.appspo

[2021-10-14 20:24] bobcatfish commented on #885
In that example PR where I migrated yamllint, I made the change in the old folder and didnt realize that the intention was that updated jobs would be moved into https://github.com/tektoncd/plumbing/tree/main/tekton/ci-workspace so that's still TODO

[2021-10-15 01:15] sorensonpragmatics commented on #810
/close

The workaround described has been cemented for our project. It may ultimately be the more idiomatic solution too.

[2021-10-15 01:15] #810 closed

[2021-10-18 09:01] afrittoli commented on #664
/remove-lifecycle rotten This has been implemented

[2021-10-18 09:03] afrittoli commented on #598
/remove-lifecycle rotten

[2021-10-18 09:03] afrittoli commented on #598
/lifecycle frozen

[2021-10-18 09:03] afrittoli commented on #598
/reopen

[2021-10-21 23:15] jerop opened #910 "Automate Pull Request Checklist"
## Feature Request

We have a submitter checklists in pull requests that enforce with our standards, the one for [tektoncd/pipeline](https://github.com/tektoncd/pipeline) is shown below:

![image](https://user-images.githubusercontent.com/18076400/138368151-8ebf108b-4f5d-49b9-9b47-e6b0796f8ebd.png)

Currently, maintainers and reviewers have to manually check that the submitter checklist has been c

[2021-10-22 13:13] afrittoli opened #912 "Dogfooding Roadmap - Tekton Based CI/CD for Tekton"
### Feature request

This is an overall Epic to track various features and work related to dogfooding - setting a roadmap for the work.

### Use case

The reasoning and design behind the dogfooding work is captured in [TEP-0066](https://github.com/tektoncd/community/blob/main/teps/0066-dogfooding-tekton.md).

### Roadmap

- [ ] Store pipeline definitions along the code
   - Related work:
      - [

[2021-11-11 19:36] lbernick opened #920 "Read-only dogfooding cluster permissions"
### Feature request

RBAC policy for tekton dogfooding cluster that allows read-only access to resources such as pods and does not allow any access to resources like secrets.

### Use case

Joining the buildcaptain rotation using a less privileged set of permissions than is currently available (current policy is defined [here](https://github.com/tektoncd/plumbing/blob/88b9a67f8878ff49c26a8530d6150

[2021-11-11 19:44] lbernick commented on #865
As discussed in today's productivity WG, we may want to tackle #920 along with this issue.

[2021-11-14 01:03] #608 closed

[2021-11-17 18:34] bobcatfish opened #921 "Dogfood pipeline-to-taskrun in plumbing"
The experimental custom task [pipeline-to-taskrun](https://github.com/tektoncd/experimental/tree/main/pipeline-to-taskrun) is a proof of concept for tackling [TEP-0044 Decouple Task Composition from Scheduling](https://github.com/tektoncd/community/blob/main/teps/0044-decouple-task-composition-from-scheduling.md). While it has unit tests (and it "worked on my machine" haha) to increase confidence

[2021-11-17 18:35] bobcatfish commented on #921
/assign bobcatfish
/assign lbernick

[2021-11-17 18:45] lbernick commented on #921
/assign

[2021-11-22 14:27] frerikandriessen commented on #704
/assign

[2021-11-22 17:05] #704 closed

[2021-12-01 20:42] afrittoli commented on #886
Work in that direction: https://github.com/tektoncd/plumbing/pull/927

[2021-12-01 20:42] afrittoli commented on #886
/lifecycle frozen This is being worked on

[2021-12-01 20:55] afrittoli commented on #887
/lifecycle frozen This is something that need to do in light of the deprecation of pipeline resources

[2021-12-02 07:57] vdemeester commented on #887
/lifecycle frozen

[2021-12-02 07:58] vdemeester commented on #886
/lifecycle frozen

[2021-12-02 21:31] lbernick opened #931 "Rewrite Mario bot to use multiple Tasks and Workspaces rather than PipelineResources"
### Feature request
The [Mario bot](https://github.com/tektoncd/plumbing/tree/main/tekton/mario-bot) should be rewritten to avoid the use of PipelineResources.

### Use case

This is part of the longer-term plan to [deprecate PipelineResources](https://github.com/tektoncd/community/blob/main/teps/0074-deprecate-pipelineresources.md), which includes moving our dogfooding projects off of them. This

[2021-12-02 21:37] afrittoli opened #932 "Deploy resources cronjob fails on dogfooding"
# Expected Behavior

The job works fine

# Actual Behavior

[code]

See also on the [dashboard](https://dashboard.dogfooding.tekton.dev/#/namespaces/default/taskruns/deploy-resources-tekton-x4z82)

# Steps to Reproduce the Problem

1. The job runs hourly on the cluster.
2.
3.

# Additional Info

- Kubernetes version:

  **Output of `kubectl version`:**

[code]

[2021-12-02 21:38] afrittoli commented on #932
I suspect this started happening after upgrading the k8s cluster to v1.20.x

[2021-12-02 21:47] afrittoli commented on #932
This might help: https://github.com/tektoncd/plumbing/pull/933

[2021-12-03 12:32] afrittoli opened #934 "Plumbing image build CI job is broken"
# Expected Behavior

The CI job runs successfully

# Actual Behavior

The last runs on the system all failed:

[code]

The error is log is:

[code]

https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-ci/pipelineruns/plumbing-image-build-xnhxg?pipelineTask=images-build&step=build-and-push

# Steps to Reproduce the Problem

1. Make a patch that changes on of the images under `tekton/images`

[2021-12-03 13:18] afrittoli commented on #934
It worked on a re-run - so perhaps it was a flake?
https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-ci/pipelineruns/plumbing-image-build-wwd4n?pipelineTask=images-build

Closing for now.

[2021-12-03 18:37] afrittoli commented on #934
Uhm, I'm not sure how it passed earlier they all seem failed?
https://dashboard.dogfooding.tekton.dev/#/namespaces/tekton-ci/taskruns?labelSelector=tekton.dev%2Ftask%3Dkaniko4ci

[2021-12-03 20:45] dibyom opened #937 "Migrate EventListener SAs to use roles packaged with Triggers"
Each EventListener in Dogfooding today keeps its own SA, Role,ClusterRole and the related bindings. Instead of each one of them having their own roles, we can reuse the ones that are packaged as part [of Triggers itself](https://github.com/tektoncd/triggers/blob/main/config/200-clusterrole.yaml#L70-L105
)

This should prevent bugs as well as reduce the maintenance burden when those roles change e.

[2021-12-03 20:51] dibyom opened #938 "404s from Mario Webhook"
# Expected Behavior

Webhook deliveries succeed.

# Actual Behavior

Webhook deliveries to the mario ingress are returning intermittent 404s:

**Headers**
Content-Length: 146
Content-Type: text/html
Date: Fri, 03 Dec 2021 20:38:56 GMT
Strict-Transport-Security: max-age=15724800; includeSubDomains

**Body**
<html>
<head><title>404 Not Found</title></head>
<body>
<center><h1>404 Not Found</h1></cent

[2021-12-03 21:07] afrittoli commented on #932
After updating `kubectl` the error is now:

[code]

The issue here is that the `kubectl` command emits a warning:
[code]

which is interpreted as an error by the deployment script:

[code]

[2021-12-05 22:40] #932 closed

[2021-12-07 10:55] afrittoli opened #945 "Tekton webhooks randomly fail with 404"
# Expected Behavior

Webhooks are working fine all the time

# Actual Behavior

Every now and then the webhook fail with 404. The error can be seen on GitHub side through "recent deliveries":

**Headers**

[code]

**Body**

[code]

# Steps to Reproduce the Problem

1. It happens randomly. Have a look at recent deliveries.

# Additional Info

- Kubernetes version:

[code]

- Tekton Pipeline version

[2021-12-07 10:59] afrittoli commented on #945
Most ingresses in the dogfooding cluster are managed by the GKE ingress controller.
We do have the nginx ingress controller deployed in the `default` namespace to handle the `hub-preview` redirects.
I suspect that the nginx ingress controller is trying to reconcile other ingresses and thus temporarily break them.

[2021-12-07 11:06] afrittoli commented on #945
Nginx ingress config:
[code]

[2021-12-07 11:13] afrittoli commented on #945
This looks suspicious:

[code]

[2021-12-07 11:47] afrittoli commented on #945
Updated ingress configuration as follows:
[code]

[2021-12-07 13:32] afrittoli commented on #888
It looks like something has changed related to `Conditions` and `CloudEvents`.

When requesting the `/test <some-ci-job` for a CI job that is not the label check, the `PipelineRun` for the label check is started, the `Condition` on the name is evaluated and once it fails, the `PipelineRun` completes.
In this process the `TaskRun` should not be not started at all, because the `Condition` needs to b

[2021-12-07 14:25] #920 closed

[2021-12-07 16:32] dibyom commented on #945
Nice find! Thanks @afrittoli

[2021-12-07 21:28] afrittoli commented on #888
https://github.com/tektoncd/plumbing/pull/948

[2021-12-08 14:08] #931 closed

[2021-12-09 09:59] afrittoli commented on #934
The job is definitely broken, the successes were false positive, caused by spurious notifications sent to GitHub.
The workaround - with access to dogfooding - is to send a positive notification:

[code]

If this cannot be solved quickly, I'll disable the job.

[2021-12-10 10:53] afrittoli commented on #885
Fixed by these PRs:

- Label check https://github.com/tektoncd/plumbing/pull/948
- Golangci lint https://github.com/tektoncd/plumbing/pull/951
- yamllint and final cleanup https://github.com/tektoncd/plumbing/pull/953

[2021-12-10 10:53] #885 closed

[2021-12-10 10:54] afrittoli commented on #482
Precondition for this: https://github.com/tektoncd/plumbing/pull/956

[2021-12-10 11:24] afrittoli commented on #934
The core issue here is that script provides an implicit shebang which does not match `/busybox/sh` which is available on the kaniko image.

[2021-12-10 16:32] #934 closed

[2021-12-12 08:35] vdemeester commented on #865
/lifecycle frozen

[2021-12-14 12:15] afrittoli commented on #58
@jerop do you still on working on this?

[2021-12-14 17:36] jerop commented on #58
@afrittoli haven't had a chance to do this, will unassign myself

[2021-12-17 22:23] #867 closed

[2021-12-21 20:02] jerop opened #971 "Use `Environment Variables` instead of `Parameters` in `Script`"
Today, several `Tasks` use `Parameters` in `Script` that Tekton Pipelines interpolate - for example:
https://github.com/tektoncd/plumbing/blob/df1c25d54ffae0ba72d1e097e17b0fab5f03d209/tekton/ci/jobs/tekton-kind-label.yaml#L30-L37

This presents a few challenges:
- it is fragile e.g. a quote in the `Parameter` would make the `Script` invalid and the `Task` would fail
- an interpolated `Script` is a

[2021-12-22 16:35] jerop opened #972 "Refactor `Scripts` in `Tasks` and `Pipelines`"
Today, we have a couple of `Tasks` with `pip install pyaml` in their `Scripts`. We should create an image with it installed that can be shared across those `Tasks`.

In addition, many of those `Tasks` contain `Scripts` that can be refactored to be pieces of software with their own lifecycle, version and tests.

#### References
- https://github.com/tektoncd/plumbing/pull/911
- https://github.com/te

[2021-12-22 16:56] jerop commented on #972
cc @wlynch

[2021-12-22 16:56] sbwsg commented on #971
/assign

[2021-12-22 17:26] jerop commented on #971
@sbwsg there are several of them to be fixed, so we can collaborate on this - had already written a fix for publish release task that I just pushed in https://github.com/tektoncd/plumbing/pull/973

/assign

[2021-12-22 18:18] jerop commented on #971
- [ ] ./tekton/ci/interceptors/add-pr-body/tekton/publish.yaml:
- [ ] ./tekton/ci/interceptors/add-pr-body/tekton/release-pipeline.yaml:
- [ ] ./tekton/ci/interceptors/add-team-members/tekton/publish.yaml:
- [ ] ./tekton/ci/interceptors/add-team-members/tekton/release-pipeline.yaml:
- [ ] ./tekton/ci/jobs/tekton-catalog-catlin-lint.yaml:
- [ ] ./tekton/ci/jobs/tekton-image-build.yaml:
- [ ] ./tekt

[2021-12-22 18:30] sbwsg commented on #971
* [x]  ./tekton/ci/interceptors/add-pr-body/tekton/publish.yaml:
* [ ]  ./tekton/ci/interceptors/add-pr-body/tekton/release-pipeline.yaml:
* [ ]  ./tekton/ci/interceptors/add-team-members/tekton/publish.yaml:
* [ ]  ./tekton/ci/interceptors/add-team-members/tekton/release-pipeline.yaml:
* [ ]  ./tekton/ci/jobs/tekton-catalog-catlin-lint.yaml:
* [ ]  ./tekton/ci/jobs/tekton-image-build.yaml:
* [ ]

[2021-12-22 20:57] sbwsg commented on #972
/add-label "priority/important-soon"

[2021-12-23 16:36] #971 closed

[2021-12-27 16:48] dlorenc opened #979 "The check-pr-has-kind-label check is stuck"
This seems to have been stuck for 1-2 weeks now.

There are a few PRs in pipelines with no results here:
* https://github.com/tektoncd/pipeline/pull/4437
* https://github.com/tektoncd/pipeline/pull/4439
* https://github.com/tektoncd/pipeline/pull/4434

I've kicked a few of these to no avail.

Might be related to https://github.com/tektoncd/plumbing/issues/945

Should we consider moving this check

[2022-01-04 17:43] dibyom commented on #938
Duplicate of #945

[2022-01-04 17:43] #938 closed

[2022-01-04 17:46] afrittoli commented on #979
Thanks @dlorenc for reporting this and sorry about the incovenience!
This should be fixed by https://github.com/tektoncd/plumbing/pull/970

[2022-01-04 17:53] dibyom commented on #979
Just checked recent deliveries of the webhooks and did not find any 404s

+1

@afrittoli do you think moving the implementation to a custom task will help with the race condition issues?

[2022-01-04 17:57] afrittoli commented on #979
@dibyom yes, it might.  We could also deploy different solutions in parallel, for instance used by different repos.
The issue that happened recently was caused by name being too long, which should be fixed by the latest iteration of the PR.

[2022-01-10 22:18] #910 closed, assigned to jerop

[2022-01-12 18:26] #921 closed

[2022-01-25 22:31] wlynch opened #996 "Pinned / checksum verified dependencies"
### Feature request

I noticed that in many of our Dockerfiles ([example](https://github.com/tektoncd/plumbing/blob/main/tekton/images/ko-gcloud/Dockerfile)), we use tags instead of SHAs for referencing docker images, .tgzs, Go modules, etc. Although this is not a hard requirement for SLSA L4, it'd be great if we could start pinning our dependencies (or where we can't pin, verify via checksum) as

[2022-01-26 19:27] sbwsg commented on #912
Another idea for possible further discussion that came up on Slack today would be to limit write access to the dogfooding cluster. I know that I've accidentally applied development versions of Tekton Pipelines to dogfooding in the past because I mistakenly left my `kubectl` config pointing at it the next day after a release. We document steps to avoid this as part of pipelines' release notes but m

[2022-01-28 09:56] vdemeester commented on #912
@sbwsg I agree with that, I think for 100% of cases (even release of all components), we shouldn't need direct access to the cluster

[2022-02-04 17:25] bobcatfish commented on #865
A couple of quick updates here:

* @dibyom and @wlynch have recently found out that we may be able to simply move the existing projects such that they won't be considered google internal anymore (vs having to recreate them and migrate)
* I put together [an initial todo list](https://docs.google.com/document/d/1h-Q9NXJxv9b6qAJM4OTKDpDMwXZz8c-quCLsYvRyIu0/edit#) with everything we'd want to do to cl

[2022-02-16 19:44] bobcatfish commented on #884
Signing our releases - and more generally meeting slsa.dev requirements for components published by Tekton - is something we've discussed having in the context of the new s3c working group (https://github.com/tektoncd/community/pull/633) so I think it's fair to consider this something we still want to do.

/lifecycle frozen

[2022-03-02 19:44] sbwsg opened #1010 "Add ghproxy for prow components"
### Feature request

Add the configuration required to run [ghproxy](https://github.com/kubernetes/test-infra/tree/master/ghproxy) so that prow components running in our clusters do not hit rate limits.

### Use case

Most recently we experienced a 20 minute pause during a peribolos sync running in our dogfooding cluster. The log from that run [is available here](https://gist.github.com/sbwsg/3ba1

[2022-03-02 19:47] sbwsg commented on #1010
/assign

[2022-03-03 17:53] afrittoli commented on #996
Thanks @wlynch - it sounds like a good idea.
Would you like to break this down in a series of small tasks so we can start implementing them / tag then as help wanted?

There are other places we'll need to do this as well, I started doing some pinning in the pipeline and triggers release pipeline: https://github.com/tektoncd/pipeline/pull/4639

[2022-03-04 16:29] xchapter7x commented on #912
/area s3c

[2022-03-04 16:29] xchapter7x commented on #865
/area s3c

[2022-03-12 14:42] #778 closed

[2022-03-12 14:42] #902 closed

[2022-03-15 21:12] pritidesai opened #1017 "enable pipeline controller settings per test"
### Feature request

Provide a functionality to restart the tekton pipeline controller (or any other controller) with a custom configuration.

### Use case

Tekton Pipelines `e2e` tests run in a cluster with a tekton-pipelines controller. All [e2e](https://github.com/tektoncd/pipeline/tree/main/test) tests run against one single controller. We have seen a need to write an `e2e` test and run it aga

[2022-03-16 11:59] afrittoli commented on #58
The inputs to a release are:
- The release name
  - This is in the format "Cat breed, robot name"
  - The name is the same for minor releases
  - It could be automated based on a dictionary of names
- The release version
  - Using semantic versioning vX.Y.Z
  - X == 0 for now
  - Y is the main release number
  - Z is for patch releases done in case of regressions / security patches
  - the input h

[2022-03-16 12:08] afrittoli commented on #58
I think we could break this down into the following items:

- [ ] Deploy full release resources to a dedicated namespace with access to the `tekton-releases` account
- [ ] Create tektoncd/triggers resources that react to an event which includes the [required inputs](https://github.com/tektoncd/plumbing/issues/58#issuecomment-1069049123)
- [ ] Remove `PipelineResources` from the `create-draft-relea

[2022-03-22 16:41] imjasonh opened #1028 "Consider enabling dependabot across Tekton repos"
https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuring-dependabot-version-updates

Dependabot sends a PR for each updated dependency (one PR per updated dependency), on a configurable schedule (daily, weekly, etc.).

Keeping dependencies up to date means getting security/performance fixes faster, while keeping pinned deps for build stability.

Based on experienc

[2022-03-29 18:48] lbernick opened #1043 "Metrics for test reruns"
We should collect metrics when developers rerun tests via `/test foo` commands on PRs. One way to do this would be to create a Trigger in plumbing which listens for these commands (this could be similar to the [mario bot](https://github.com/tektoncd/plumbing/tree/main/tekton/mario-bot), which listens for github comments of the form [/mario build <image_name>](https://github.com/tektoncd/plumbing/b

[2022-03-29 18:52] lbernick opened #1044 "Metrics for integration test failures and latencies"
We should develop continuous metrics for integration test passes and failures, and their latencies. This will help us identify when test failures could be due to flakes, and figure out which tests are providing signal and which are just providing noise. It will also help us determine if efforts to improve integration test latency work. These metrics should be on the level of individual test classe

[2022-03-29 18:54] lbernick opened #1045 "Move examples tests into their own test suite"
Examples tests are the flakiest test suite in Pipelines by far (see [Tekton Deflake](https://docs.google.com/document/d/1ur1-YF5uq85BRLveD2xjbWGyspxPUczseGQUPs1h8FI/edit#heading=h.rv8888vfg18n)). These should be moved into their own test suite, so we can separate out these flakes from other integration tests. In addition, they should probably not block PR submission.

[2022-03-29 19:46] afrittoli commented on #1045
Separate them out might reduce the overall execution time and reduce the "restest" time.
I'd be hesitant in marking the job as non-voting though, since I think a lot of our e2e coverage is there.
I would rather move the flaky tests to the non-ci folder until they can be fixed.

[2022-03-29 20:11] lbernick commented on #1045
understandable! Let's start with moving them into their own test suite and getting data on the ratio of flakes to real failures-- then we can make a more informed decision. rewriting them to be more deterministic might also be helpful!

[2022-03-30 10:45] afrittoli opened #1046 "Integrate Tekton CI runs with gubernator / pod-utils / spyglass"
### Feature request

Integrate Tekton CI runs with [gubernator](https://github.com/kubernetes/test-infra/tree/master/gubernator) / pod-utils / spyglass

### Use case

Today we don't have a permanent storage for CI logs from Tekton runs.
Ideally we could have tekton results linked to logs somehow and the dashboard linked to tekton results, but that is not available yet. A possibly quick workaround

[2022-03-30 10:46] afrittoli commented on #1046
/cc @vdemeester @lbernick

[2022-03-30 13:54] imjasonh commented on #1028
Sounds like we're in general agreement that this is worth moving forward on. (If you disagree, please speak soon!)

@vdemeester would like to start with the CLI repo, and I think that sounds fine. I'd like to give it a week or two (a couple weekly dependabot cycles) before proceeding, to make sure we like the workflow.

Before we send a PR to enable Dependabot, we should make sure deps are up to d

[2022-03-30 14:29] AlanGreene commented on #1028
Dependabot seems to be enabled for the dashboard repo. I'm not sure when/how this was enabled but I've definitely seen a few dependabot PRs come in. So far there hasn't been a flood, and usually the PRs come just as we're looking at updating dependencies anyway. Consider this my vote for making it official 👍

[2022-03-31 09:51] vdemeester commented on #1028
Hub is on as well : https://github.com/tektoncd/hub/pull/407

[2022-04-04 12:41] afrittoli commented on #1046
This is mostly implemented in https://github.com/tektoncd/plumbing/pull/1056, but there are a couple of issues:

- the GCS upload task uses `gsutil rsync` which takes a very long to run (up to 1h) because the target bucket contains ~100k files. A fix would be to use `gsutil cp` which means extending / chanings the catalog task or write a dedicated one
- gubernator does not seem to be happy with no

[2022-04-05 16:19] xchapter7x commented on #884
@afrittoli suggests we make a list of the things we sign and do not yet sign.
perhaps a table in this issue, would be a great help.

[2022-04-07 17:24] xchapter7x opened #1059 "Scale Prow Cluster"
# [writeup](https://docs.google.com/document/d/15Gza5Rj5MIzD0Ye2r_lbURreDhyeFOufvdC3E9lllbo/edit?usp=sharing&resourcekey=0-Lpi8BbXXtl4S7IJgi-V67g)

We're scaling the CPU in our prow cluster in order to (hopefully) address what we think are infrastructure flakes, causing test failure/flakes

[2022-04-07 17:26] xchapter7x commented on #1059
were now running fully on `highcpu` instances
https://pantheon.corp.google.com/kubernetes/clusters/details/us-central1-a/prow/nodes?project=tekton-releases

will touch back with some metrics and outcomes before closing this issue.

[2022-04-08 14:57] xchapter7x commented on #1059
/assign @xchapter7x

[2022-04-12 13:55] lbernick commented on #1044
/assign

[2022-05-04 20:40] lbernick commented on #1045
I think we will first need a script in Pipelines responsible for running only examples tests (probably just a new function run_examples in the script you linked), then a new prow job (configured [here](https://github.com/tektoncd/plumbing/blob/main/prow/config.yaml) to run the examples tests. Finally, the examples tests can be moved out of the run_e2e function in the e2e test script. This issue is

[2022-05-05 04:46] vdemeester commented on #1045
I wonder if we need a new cron job. Saying that *mainly* because this would mean we use "another" cluster, if we don't use `kind`. I'd rather make sure we have tests yaml and examples test separate (like discussed in https://github.com/tektoncd/pipeline/issues/4810) and then figure out if we want to split that.

[2022-05-05 10:03] afrittoli commented on #1045
Sounds good - there is already an [env variable](https://github.com/tektoncd/pipeline/blob/7059cfd5e8a4f3619353aaf8f2bba722b70afa47/test/e2e-tests.sh#L26) about running the YAML tests or not, we could also add one about running the other tests.

It is, however adding a new prow job like the existing ones might be too expensive and might exhaust our boskos pool too quickly. Using `kind` would allev

[2022-05-06 18:36] #945 closed

[2022-05-06 23:28] #888 closed

[2022-05-11 16:15] Yongxuanzhang commented on #1045
Hi, as discussed with @lbernick, we can first move examples test into kind cluster, I think this could be part of this issue.(Like a first step.)
Here are some details I have in mind, correct me if I'm wrong since I'm quite new to the repo.

Similar like https://github.com/tektoncd/plumbing/pull/927 by @afrittoli, I can create several files:
- tekton/ci/
    - jobs
        - examples-kind.yaml (th

[2022-05-11 18:53] Yongxuanzhang commented on #1045
Thanks a lot for the clarifications! I think I have more understanding of this! 😄
Will draft a pr soon!

[2022-05-22 18:41] #972 closed

[2022-06-03 14:42] vdemeester commented on #1028
- [x] `tektoncd/hub` https://github.com/tektoncd/hub/pull/407
- [ ] `tektoncd/pipeline` https://github.com/tektoncd/pipeline/pull/4915
- [ ] `tektoncd/chains` https://github.com/tektoncd/chains/tree/main/.github/dependabot.yml
- [ ] `tektoncd/cli` https://github.com/tektoncd/cli/pull/1579
- [ ] `tektoncd/operator` https://github.com/tektoncd/operator/pull/826
- [ ] `tektoncd/triggers`
- [ ] `tekto

[2022-06-03 19:24] #979 closed

[2022-06-14 16:17] wlynch opened #1091 "Enable commit signing"
### Feature request

We should enable commit signing so that commits to main are signed and can be verified.

Ideally it'd be great if everyone could sign commits, but to start enabling for the Prow/Tide submit job is probably okay.

### Use case

So we can meet [SLSA L3 Verified History](https://slsa.dev/spec/v0.1/requirements#verified-history) requirements.

[2022-06-17 20:47] lbernick commented on #482
@afrittoli this can probably be closed right?

[2022-06-17 20:48] lbernick commented on #886
@afrittoli @vdemeester can this be closed now that we have the [Kind catalog Task](https://github.com/tektoncd/catalog/tree/main/task/kind/0.1)?

[2022-06-23 18:04] dibyom opened #1095 "Peribolos sync not running"
# Expected Behavior

When the org.yaml file is updated in tektoncd/community, Peribolos should update the GitHub org membership to match the file

# Actual Behavior

Updating the org.yaml file does not update the org
Example PR: https://github.com/tektoncd/community/pull/731

# Additional Info

Notes and current debugging state in the [Productivity WG notes](https://docs.google.com/document/d/1ZYq